#googlechart-googlecharts-tab {
    padding: 2em 2em 1em 1em;
}
#google-visualization-charteditor-font-style-title,
#google-visualization-charteditor-input-chart-title,
#google-visualization-charteditor-select-font-name {
   /* #18262: hide elements that are centrally managed elsewhere in daviz */
   display: none !important;
}

.google-visualization-charteditor-dialog{
    z-index:2000;
    visibility:hidden;
}
#googlecharts_config #googlecharts_actionsView{
    margin-top:1em;
}

#addgooglechart {
    margin: 0.5em;
}

#googlecharts_config .ui-icon-plus{
    float-left;
    border: 2px solid #CCCCCC;
}

#googlecharts_config .ui-state-highlight {
    float: left;
    border-radius: 5px;
    margin-top: 1em;
    opacity: 0.3;
}

.googlechart_handle{
    cursor:move;
}

.googlechart_handle .ui-icon {
    margin-left: 0.5em;
}

#googlecharts_list,
.googlechart_filters_list,
.googlechart_sort,
.googlechart_notes_list,
.googlechart_columnfilters_list {
    list-style-type:none !important;
    list-style-image:none !important;
    margin:0 !important;
}

.googlechart_filters_list h1,
.googlechart_columnfilters_list h1, {
    background: none;
    font-weight: bold;
}

.googlechart_sort li,
.googlechart_filters_list li,
.googlechart_columnfilters_list li {
    background: white;
}

.googlechart_filters_list li,
.googlechart_columnfilters_list li,
.googlechart_sort li {
    border: 1px solid #eee;
    margin: 5px;
    padding: 1em;
}

.googlechart-sort-box .ui-state-highlight,
.googlechart-filters-box .ui-state-highlight,
.googlechart-columnfilters-box .ui-state-highlight,
.googlechart-notes-box .ui-state-highlight {
    background-color: orange;
    opacity: 0.3;
    min-width: 85%;
}

.googlechart_filters_list li,
.googlechart_columnfilters_list li {
    box-shadow: #CCC 3px 3px 3px;
}

.googlechart_sort li h1 {
    cursor: default !important;
    background: none;
    font-weight: bold;
}

.googlechart_filteritem span,
.googlechart_columnfilteritem span {
    margin-left: 2em;
}

.googlechart_filteritem h1{
    background: none !important;
    font-weight: bold;
    margin: 0px !important;
}
.googlechart-sort-box,
.googlechart-filters-box,
.googlechart-columnfilters-box,
.googlechart-notes-box,
.googlechart-filtersposition-box {
  float:right;
  width:250px;
  padding: 5px;
  border-radius: 3px;
  background-color: #f3f3f3;
  margin-bottom: 0.5em;
}

.googlechart-sort-box .label,
.googlechart-filters-box .label,
.googlechart-columnfilters-box .label,
.googlechart-notes-box .label {
  cursor: pointer;
}

.googlechart-notes-box .body li {
    background: white;
    border: 1px solid #eee;
    margin: 5px;
    padding: 1em;
    box-shadow: #CCC 3px 3px 3px;
    cursor: pointer;
}

.googlechart{
    background-color:#FFFFFF;
}

.googlechart_modified{
    background-color:#FFFFBB !important;
}

.googlechart_hidden{
    background-color:#DDDDDD;
}

.googlechart fieldset {
    padding: 0.5em 1em;
}

.googlechart table {
    width: 100%;
}

.googlechart .filters_position {
    text-align: right;
}

#googlecharts\.columns\.toDataContainer{
    display:none;
}

.googlechart-dialog .ui-dialog-titlebar,
#googlechart_table_accordion > h3{
    color:black;
    font-size:1.2em;
    margin:0 2px;
    padding:0.2em 0.5em;
    background-color:#CDE2A7;
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FFFFFF), to(#CDE2A7));
    background-image: -webkit-linear-gradient(center top , #FFFFFF, #CDE2A7);
    background-image: -moz-linear-gradient(center top , #FFFFFF, #CDE2A7);
    background-image: -ms-linear-gradient(center top , #FFFFFF, #CDE2A7);
    background-image: -o-linear-gradient(center top , #FFFFFF, #CDE2A7);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#CDE2A7'); /* IE6 & IE7 */
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#CDE2A7')"; /* IE8+ */
}

.googlechart-dialog .ui-dialog-titlebar:first-child {
    background-color: #fff;
    background-image: none;
    border: none;
    border-bottom: 1px solid #ccc;
    font-size: 16px;
}

.googlechart-dialog {
  border-radius: 5px;
  box-shadow: 0px 0px 100px #000;
}

.googlechart-dialog input[type=text] .not(charts-toolbar-combo-button-input){
    width: 98%;
}

.googlechart-dialog fieldset {
    border: none;
}

.googlechartTable {
    color:black;
    font-size:0.8em !important;
    border:1px solid #DDDDDD;
}
.googlechartTable th,
.pivotedColumn {
    padding: 4px;
    line-height: 16px;
    background-color: #F3F3F3;
    color: #333;
}

.googlechartTable .ui-icon,
.slick-menu-colorsgrid .ui-icon{
    background-image : url(../../++resource++jquery-ui-themes/sunburst/images/ui-icons_444444_256x240.png);
}

.googlechartTable td{
    padding:2px;
    border:1px solid #EEEEEE;
}

.googlechartTable select {
    margin-left:3px;
    padding:0px !important;
    font-size:1.2em;
    vertical-align:none;
}

.googlechart_width,
.googlechart_height {
    width:50px !important;
    float:right;
    display:none !important;
}
#gcharts-dashboard-edit .ui-icon-show,
.googlechartTable .ui-icon-show {
  background-image: url(../../++resource++eea.daviz.images/show.png);
}

#gcharts-dashboard-edit .ui-icon-hide,
.googlechartTable .ui-icon-hide {
  background-image: url(../../++resource++eea.daviz.images/hide.png);
}

#gcharts-dashboard-edit .ui-icon-visibility {
    background-image: url(../../++resource++eea.daviz.images/hide.png);
}

#gcharts-dashboard-edit .dashboard-header-hidden .ui-icon-visibility {
    background-image: url(../../++resource++eea.daviz.images/show.png);
}

#gcharts-dashboards-edit {
    padding: 2em 2em 1em 1em;
}

#gcharts-dashboards-edit .add-button {
    background: #fff url(../../++resource++eea.googlecharts.images/chart_add.png) no-repeat;
    cursor: pointer;
    background-position: center;
    box-shadow: 5px 5px 5px #ccc;
    border-radius: 20px
}

#gcharts-dashboards-edit .edit-button {
    background: #fff url(../../++resource++eea.googlecharts.images/dashboard.thumb.png) no-repeat;
    cursor: pointer;
    background-position: center;
    box-shadow: 5px 5px 5px #ccc;
    border-radius: 20px
}

#gcharts-dashboards-edit .add-button,
#gcharts-dashboards-edit .edit-button {
    width: 128px;
    height: 128px;
    float: left;
    margin: 0.5em;
}

#gcharts-dashboards-edit .edit-button.selected {
    position: relative;
}

#gcharts-dashboards-edit .edit-button.selected:after {
    border: solid;
    bottom: -27px;
    z-index: 99;
    content: "";
    display: block;
    left: 50px;
    position: absolute;
    border-color: #fff transparent;
    -webkit-border-color: #eee transparent;
    border-width: 0px 20px 20px;
}

#gcharts-dashboards-edit .edit-button.selected:hover {
    box-shadow: none;
}

#gcharts-dashboards-edit .add-button:hover,
#gcharts-dashboards-edit .edit-button:hover {
    box-shadow: 2px 2px 2px #ccc;
}

#gcharts-dashboards-edit .add-button:active,
#gcharts-dashboards-edit .edit-button:active {
    box-shadow: none;
}

#gcharts-dashboards-edit .add-button span,
#gcharts-dashboards-edit .edit-button span {
    margin-top: 90px;
    display: block;
    text-align: center;
    max-height: 36px;
    overflow: hidden;
    color: #7BAA0F;
}

#gcharts-dashboards-edit:after {
    content: '.';
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}


#newColumns th {
    cursor: move;
    vertical-align: text-top;
}

#newColumns .ui-state-highlight {
    min-width: 50px;
}

.googlechartTable .ui-icon {
    cursor:pointer;
}

#content #gcharts-dashboard-edit,
#gcharts-dashboard-edit {
    background: #f3f3f3;
    list-style-type: none;
    list-style-image: none;
    position: relative;
    margin-top: 170px;
    clear: both;
    box-shadow: 0px 0px 50px #000;
    border-radius: 10px;
}

#gcharts-dashboard-edit:after {
    content: '.';
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

#gcharts-dashboard-edit .ui-state-highlight,
#gcharts-dashboards-edit .ui-state-highlight {
  float: left;
  border-radius: 20px;
  opacity: 0.3;
}


.dashboard-resizable-helper {
    border: 2px dotted green;
}

.dashboard-mask {
    position: absolute;
    width: 100%;
    height: 100%;
}

.dashboard-header {
    padding: 0.5em;
    background-color: #CDE2A7;
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FFFFFF), to(#CDE2A7));
    background-image: -webkit-linear-gradient(center top , #FFFFFF, #CDE2A7);
    background-image: -moz-linear-gradient(center top , #FFFFFF, #CDE2A7);
    background-image: -ms-linear-gradient(center top , #FFFFFF, #CDE2A7);
    background-image: -o-linear-gradient(center top , #FFFFFF, #CDE2A7);
    position: absolute;
    width: 99%;
    cursor: move;
    opacity: 0;
    -webkit-transition: opacity .5s;
    -moz-transition: opacity .5s;
    -o-transition: opacity .5s;
    transition: opacity .5s;
    z-index:3;
}

.dashboard-chart:hover .dashboard-header {
    opacity: 1;
}

.dashboard-header span.title {
    float: left;
    font-weight: bold;
    max-width: 40%;
    max-height: 1.8em;
    overflow: hidden;
}

.dashboard-header input {
    width: 50px;
    margin-bottom: 0px;
    height: auto;
    line-height: 1.2;
    padding: 0;
}

.dashboard-header span.ui-icon {
    margin-right: 0.5em;
}

.dashboard-header-hidden {
    background-color: #E6E6E6;
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FFFFFF), to(#E6E6E6));
    background-image: -webkit-linear-gradient(center top , #FFFFFF, #E6E6E6);
    background-image: -moz-linear-gradient(center top , #FFFFFF, #E6E6E6);
    background-image: -ms-linear-gradient(center top , #FFFFFF, #E6E6E6);
    background-image: -o-linear-gradient(center top , #FFFFFF, #E6E6E6);
}

.dashboard-header-title {
    opacity: 1;
    position: relative;
    min-height: 20px;
    padding: 0;
    margin: 0;
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 0.5em 0;
}

.dashboard-header-title .ui-icon {
    cursor: pointer;
    float: right;
}

.dashboard-header-title .title {
    padding: 0 1em;
}

#content .dashboard-chart,
dl.portlet .dashboard-chart,
.dashboard-chart {
    background-color: #fff;
    text-align: center;
    box-shadow: 3px 3px 3px #ccc;
    margin: 5px;
    float: left;
    overflow: hidden;
    cursor: pointer;
}

#content .dashboard-widget,
dl.portlet .dashboard-widget,
.dashboard-widget {
    text-align: initial;
    padding: 1em;
}

.dashboard-widget {
    overflow: auto;
}

.dashboard-widget textarea {
    width: 600;
    height: 600;
}

.dashboard-chart iframe {
    width: 100%;
    height: 100%;
}

.dashboard-chart iframe body {
    overflow: hidden;
}

.chart_div > div > div {
    overflow: hidden ! important;
    height: 300px;
}

.dashboard-charts .box-body {
    padding-bottom: 1em;
}

.dashboard-charts,
.dashboard-filters {
    box-shadow: 0 0 1px #000;
    margin: 5px 0;
    border-radius: 5px;
    overflow: hidden;
    float: left;
}

.dashboard-charts .box-title,
.dashboard-filters .box-title {
    padding: 0.5em;
    cursor: move;
    text-align: center;
    min-width: 260px;
    overflow: hidden;
}

.dashboard-charts .box-title input,
.dashboard-filters .box-title input{
    width: 50px;
}

.dashboard-charts .box-title span.label,
.dashboard-filters .box-title span.label {
    font-weight: bold;
    float: left;
}

.dashboard-charts .eea-icon-plus,
.dashboard-filters .eea-icon-plus,
.googlechart .eea-icon-plus{
    float: right;
    border: 2px solid #ccc;
    cursor: pointer;
}

.dashboard-filters .box-body {
    min-height: 5em;
}

.dashboard-charts .box-body:after,
.dashboard-filters .box-body:after {
    content: '.';
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.dashboard-filters .ui-state-highlight {
    float: left;
    opacity: 0.3;
}

.dashboard-filter {
    float: left;
    width: 200px;
    border: 1px solid #eee;
    margin: 5px;
    padding: 1em;
    cursor: move;
    background: #fff;
    box-shadow: 3px 3px 3px #ccc;
}

.dashboard-chart .ui-icon,
.dashboard-filter .ui-icon {
    cursor: pointer;
    float: right;
}

.googlechart_types_container {
    width:270px;
    height:300px;
    border:4px solid #dddddd;
    float:left;
    overflow:auto;
}

.googlechart_type_thumbnail {
    width:110px;
    height:68px;
    border:4px solid #dddddd;
    float:left;
    margin:4px;
}

.googlechart_type_thumbnail:hover{
    border: 4px solid #C1D9FF;
}

.googlechart_type_thumbnail_selected{
    width:110px;
    height:68px;
    float:left;
    margin:4px;
    border: 4px solid #6688EE;
}

.googlechart_type_thumbnail > div,
.googlechart_type_thumbnail_selected > div {
    width:100%;
    height:100%;
}

#googlechart_table_accordion > h3 {
    height: 19px;
}

#googlechart_table_accordion > h3 > a{
    color:black !important;
    padding-top: 1px;
}

.ui-icon-triangle-1-e{
    background: url("../../++resource++jquery-ui-themes/sunburst/images/ui-icons_444444_256x240.png") no-repeat scroll -32px -16px transparent !important;*/
}

.ui-icon-triangle-1-s{
    background: url("../../++resource++jquery-ui-themes/sunburst/images/ui-icons_444444_256x240.png") no-repeat scroll -64px -16px transparent !important;
}

.droppable {
    color: #4d4d4d;
    padding: 1em;
    border: 1px dashed gray;
}

.hoveredDrop {
    background-color:#CDE2A6;
}

.pivotedColumn,
.draggable {
    color: #4d4d4d;
    font-size:14px;
    line-height:16px;
}

.pivotedColumn {
    font-weight:bold;
    height:16px;
}

.draggable {
    font-weight:normal;
    cursor: move;
    border: 1px dashed gray;
}

.googlechart-editor{
    position:relative !important;
    left:0 !important;
    top:0 !important;
    display:block !important;
    z-index:999 !important;
}

#googlechart_editor_container {
    height:405px;
}
.googlechart-editor .modal-dialog-title,
.googlechart-editor .modal-dialog-buttons,
#google-visualization-charteditor-input-chart-name {
    display:none !important;
}

.google-visualization-charteditor-dialog{
    z-index:-1;
}

.column-hidden {
    background-color:#BBBBBB;
}

.googlecharts_columns_config {
    padding-top:0px !important;
    padding-left:14px !important;
}

#googlechartid_tmp_chart {
    float:left;
}

#googlechart_palette_select {
    margin:2px;
    margin-top: 2em;
}

#googlechart_preview_palette {
    margin-top:3px;
    padding:6px;
    border:2px solid #DDDDDD;
}
.googlechart_preview_color {
    width:21px;
    height:21px;
    float:left;
    margin:2px;
    border:2px solid #DDDDDD;
}

.column-show-hide-button {
    font-size: 12px;
}

.matrixChart_container {
    float:left;
    position:relative;
    padding:2px;
}

.matrixChart_overlay {
    float:left;
    position:absolute;
    z-index:999;
}

.matrixChart_overlay:hover,
.selectedScrollItem {
    background-color:rgba(119, 124, 31, 0.6);
}

#matrixChart_type_selector > div > select {
    width: 70px;
}

.matrixChart_item {
    float:left;
    border: 1px solid #CCCCCC;
}

#matrixCharts_container {
    position:relative;
    overflow:auto;
    float:left;
}

#verticalscrollcontainer {
    float:left;
    overflow:hidden;
}

#horizontalscrollcontainer {
    float:left;
    overflow:hidden;
}

#matrixCharthorizontalscroll,
#matrixChartverticalscroll {
    position:relative;
}

.matrixChartScrollItem {
    overflow:hidden;
    margin-right:2px;
    margin-bottom:2px;
    font-weight:bold;
}

.horizontalScrollItem {
    float:left;
}

.scrollName {
    display:table-cell;
}

.verticalScrollItem .scrollName,
.horizontalScrollItem .scrollName {
    vertical-align:middle;
    text-align:center;
}

#matrix_tmp_chart {
    width: 100%;
    height: 100%;
}

#matrixChart_type_selector > div{
    display:table-cell;
    vertical-align:middle;
}

.google-visualization-charteditor-menu {
    z-index:9000 !important;
}

.googlechart-widget-add .field input[type=text],
.googlechart-widget-add input[type=text],
.googlechart-widget-edit .field input[type=text],
.googlechart-widget-edit input[type=text] {
    width: 98%;
}

.googlechart-widget-add textarea,
.googlechart-widget-edit textarea {
    width: 98%;
}

.googlechart-dialog .field,
.googlechart-widget-edit .field,
.googlechart-widget-add .field {
  margin-bottom: 1em;
}

.googlechart-dialog .field label,
.googlechart-widget-edit .field label,
.googlechart-widget-add .field label {
  font-weight: bold;
}

.googlechart-dialog .formHelp,
.googlechart-widget-edit .formHelp,
.googlechart-widget-add .formHelp {
  display: block;
  color: #555;
  font-weight: normal;
}

.googlechart_dialog_options {
  width: 98%;
  min-height: 300px;
}

.ui-icon-placeholder {
    background-image: none !important;
    width: 0 !important;
}

.googlechart_chart_config_scaleable{
    float:left;
    position:absolute;
}

.googlechart_table_config_scaleable{
    overflow:auto;
    position:absolute;
}

.googlechart_config_clickable:hover{
    cursor:pointer !important;
    color:#222 !important;
}

.googlechart_minimized_chart_clickable{
    z-index:9999;
    position:absolute;
    cursor:pointer;
}

.googlechart_chart_config_scaleable_minimized #google-visualization-charteditor-preview-div-wrapper,
.googlechart_chart_config_scaleable_minimized .googlechart_minimized_chart_clickable{
    transform: scale(0.475);
    -ms-transform: scale(0.475); /* IE 9 */
    -o-transform: scale(0.475); /* Opera */
    -moz-transform: scale(0.475); /* Firefox */
    -webkit-transform: scale(0.475); /* Safari and Chrome */
    margin-left: -453px;
    margin-top: 305px;
    border:3px solid #e4e4e4;
}

.googlechart_chart_config_scaleable_minimized .google-visualization-charteditor-preview-td{
    overflow:visible;
}

.googlechart_table_config_scaleable_maximized.googlechart_table_config_scaleable {
    z-index:9999;
    left:308px;
/*    top:94px;*/
    border: 1px solid #e4e4e4;
    padding: 5px;
    overflow:hidden;
}

.googlechart_table_config_scaleable_minimized.googlechart_table_config_scaleable {
    visibility:hidden;
}


.googlechart_table_config_scaleable_maximized {
    top:190px;
    width:98%;
}

.googlechart_table_config_scaleable_minimized {
    transform: scale(0.3);
    -ms-transform: scale(0.3); /* IE 9 */
    -webkit-transform: scale(0.3); /* Safari and Chrome */
    -o-transform: scale(0.3); /* Opera */
    -moz-transform: scale(0.3); /* Firefox */
    width:1068px;
    height:405px;
    top:-100px;
    left:0px;
}

.panel-container{
    position:absolute;
    left:310px;
/*    top:70px;*/
    z-index:9999;
    padding-top:5px;
    display:none;
}

.panel-container div{
    float:left;
}

.googlechart_accordion_table{
    height:455px;
    overflow:auto;
}

.googlechart_config_messagezone{
    position:absolute;
    left:670px;
    width:300px;
}

.googlechart_config_messagezone_title{
    font-size:14px;
    font-weight:bold;
    padding-bottom:5px;
}

.googlechart_config_messagezone_message{
}

.buttons-bar {
    background-color: #CDE2A7;
    width: 100%;
    padding: 0.5em 0;
    text-align: center;
}

#googlechart_overlay {
    position:absolute;
    width: 70%;
    height: 70%;
}

#googlechart_overlay .close {
    background-image: url(/++resource++close_overlay.png);
    position: absolute;
    top: 0;
    left: 0;
    width: 35px;
    height: 35px;
}

#googlechart_overlay table {
    width: 100%;
}

#googlechart_overlay .contentWrap {
    background: white;
    margin: 1.5em;
    overflow: auto;
    width: 100%;
    height: 100%;
}

select[name=googlechart_filterposition] {
    width: 100%;
}

.google-visualization-charteditor-menu li {
    display:block !important;
}

.jfk-tooltip,
.jfk-textinput,
#google-visualization-charteditor-panel-wrapper {
    z-index:1004;
}

.pivotingTable{
    overflow:auto;
}

.pivotingTable,
.unpivotingForm{
    cursor:default;
    display: none;
    color: #4d4d4d;
    margin-left:35px;
    margin-top:15px;

}

.googlechart_thumb_zone {
    display:none;
}

.slick-header-menu {
    z-index: 9999 !important;
}

.slick_newTable .grid-column-hidden{
    background-color:#CCC;
    overflow: hidden;
}

.slick-cell.active{
    border: 1px solid transparent !important;
    border-bottom:1px solid silver !important;
    border-right: 1px dotted silver !important;
}

div[title='Format'].slick-header-menuitem {
    border-top: 1px solid #AAA;
}

.filter_item{
    padding-left:30px !important;
}

.filter_item:hover{
    background-color:#CCCCCC;
}

.filter_item_selected {
    background-repeat: no-repeat;
    background-image: url(++resource++slickgrid-images/tick.png);
}

.filter_item_ignored {}

#filter_grid > .slick-header {
    display:none;
}

#filter_grid div.even {
    padding: 0px;
}

.filtered-column{
    background-repeat: no-repeat;
    padding-left:15px;
}

#slick-menu-quicksearch{
    margin-left:25px;
    margin-right:15px;
    margin-top:5px;
    width:200px;
}

#filter_grid{
    margin-left:25px;
    margin-right:15px;
    margin-bottom:10px;
    width:200px;
    height:150px;
}

.slick-filter-title,
.slick-format-title,
.slick-format-menu,
.slick-format-form,
.slick-customtooltip-title,
.slick-customtooltip-menu,
.slick-role-title,
.slick-role-menu,
.slick-customtooltip-body label,
.slick-customtooltip-body .textareacontainer{
    clear:both;
    font-size:11px;
    padding: 0.2em;
    padding-left: 2em;
    cursor: pointer;
    border-top: 1px solid #AAA;
}

.slick-customtooltip-body label{
    margin-left:10px;
    border:0;
}

.slick-customtooltip-body .textareacontainer,
.slick-customtooltip-body span{
    margin-left:30px;
    padding:0 !important;
    cursor:text;
    border:0;
}

#customtooltip_field{
    width:400px;
    height:100px;
}

.slick-filter-type{
    clear:both;
    font-size:11px;
    padding: 0.2em;
    padding-left: 2em;
    cursor: pointer;
}

.slick-menu-arrowformatter-base{

}

.slick-role-menu,
.slick-format-menu{
    border:none;
    margin-left:10px;
    font-style:italic;
}

.slick-format-form{
    border:none;
    margin-left:30px;
    font-style:normal;
}

.slick-customtooltip-title:hover,
.slick-customtooltip-menu:hover,
.slick-role-title:hover,
.slick-role-menu:hover,
.slick-filter-title:hover,
.slick-format-title:hover,
.slick-format-menu:hover {
    border-color: silver;
    background-color: white;
}

.slick-menu-enabled,
.slick-format-menu-enabled,
.slick-customtooltip-menu-enabled,
.slick-role-menu-enabled {
    background-repeat: no-repeat;
    background-image: url(++resource++slickgrid-images/tick.png);
}

.slick-formatter-label{
    float:left;
    margin-right:5px;
}

.slick-formatter-textinput{
    width:106px;
    float:right;
}

.slick-formatter-colorinput{
    width:70px;
    float:right;
}

.slick-formatter-colorpreview{
    margin-left:5px;
    width:30px;
    height:30px;
    float:right;
}

.slick-formatter-select{
    width:120px;
    float:right;
}

#slick-menu-all,
#slick-menu-clear,
#slick-menu-revert {
    padding: 0 1.5em 0 0.5em;
    font-size: 80%;
    float: right;
}

#slick-menu-all {
    padding-right: 0.5em;
}

#slick-menu-ok,
#slick-menu-cancel,
.slick-menu-enable,
.slick-menu-disable,
.slick-menu-enable-customtooltip,
.slick-menu-disable-customtooltip {
    float: right;
}

.label-for-column-select,
.slick-menu-insert-customtooltip,
.columns-for-tooltip {
    float:left;
}
.slick-column-search-icon {
    float:left;
}

.slick-column-sort-icon {
    float:left;
}

.slick_newTable th.ui-state-default,
.slick_newTable td.ui-state-default,
.slick_newTable div.ui-state-default,
.slick_newTable .slick-header-columns {
  background: none;
  background-color: #f3f3f3;
  color: #000;
}

.slick_newTable .ui-icon{
    background-image : url(../../++resource++jquery-ui-themes/sunburst/images/ui-icons_444444_256x240.png);
}

#pivotingTableLabel,
#unpivotingFormLabel{
    position:relative;
    display:block;
    cursor:pointer;
    background-color: #EAEAEA;
    color:black;
    font-weight:normal;
    font-size:16px;
    border: 1px solid #A8A8A8;
    min-height:32px;
    text-shadow:none;
}

#pivotingTableLabel .eea-caret-icon,
#unpivotingFormLabel .eea-caret-icon{
    color: #787878;
    padding-top: 9px;
    width:30px;
}

#unpivotingFormLabel{
    margin-bottom:3px;
}

#pivotingTableLabel > .ui-icon,
#unpivotingFormLabel > .ui-icon{
    float:right; background-color:#999;
    background-image : url(++resource++jquery-ui-themes/sunburst/images/ui-icons_ffffff_256x240.png);
}

.googlechart_dragging{
    background-color:rgba(100, 100, 100, 0.6);
}

.googlechart-preview-table {
    background: no-repeat url(../../++resource++thumbs17.png) 0 -1351px;
    width: 110px;
    height: 68px;
}

.googlechart-preview-linechart {
    background: no-repeat url(../../++resource++thumbs17.png) 0 -1623px;
    width: 110px;
    height: 68px;
}

.googlechart-preview-linechart-smooth {
    background: no-repeat url(../../++resource++thumbs17.png) 0 -3648px;
    width: 110px;
    height: 68px;
}

.googlechart-preview-combochart {
    background: no-repeat url(../../++resource++thumbs17.png) 0 -1147px;
    width: 110px;
    height: 68px;
}

.googlechart-preview-imagechart-radar {
    background: no-repeat url(../../++resource++thumbs17.png) 0 -3376px;
    width: 110px;
    height: 68px;
}

.googlechart-preview-areachart {
    background: no-repeat url(../../++resource++thumbs17.png) 0 -2568px;
    width: 110px;
    height: 68px;
}

.googlechart-preview-steppedareachart {
    background: no-repeat url(../../++resource++thumbs17.png) 0 -1555px;
    width: 110px;
    height: 68px;
}

.googlechart-preview-areachart-stacked {
    background: no-repeat url(../../++resource++thumbs17.png) 0 -1963px;
    width: 110px;
    height: 68px;
}

.googlechart-preview-barchart {
    background: no-repeat url(../../++resource++thumbs17.png) 0 -1759px;
    width: 110px;
    height: 68px;
}

.googlechart-preview-barchart-stacked {
    background: no-repeat url(../../++resource++thumbs17.png) 0 -3240px;
    width: 110px;
    height: 68px;
}

.googlechart-preview-columnchart {
    background: no-repeat url(../../++resource++thumbs17.png) 0 -2704px;
    width: 110px;
    height: 68px;
}

.googlechart-preview-columnchart-stacked {
    background: no-repeat url(../../++resource++thumbs17.png) 0 -1283px;
    width: 110px;
    height: 68px;
}

.googlechart-preview-scatterchart {
    background: no-repeat url(../../++resource++thumbs17.png) 0 -2840px;
    width: 110px;
    height: 68px;
}

.googlechart-preview-bubblechart {
    background: no-repeat url(../../++resource++thumbs17.png) 0 -1487px;
    width: 110px;
    height: 68px;
}

.googlechart-preview-piechart {
    background: no-repeat url(../../++resource++thumbs17.png) 0 -875px;
    width: 110px;
    height: 68px;
}

.googlechart-preview-piechart-3d {
    background: no-repeat url(../../++resource++thumbs17.png) 0 -3580px;
    width: 110px;
    height: 68px;
}

.googlechart-preview-piechart-donut {
    background: no-repeat url(../../++resource++thumbs17.png) 0 -1079px;
    width: 110px;
    height: 68px;
}

.googlechart-preview-geochart {
    background: no-repeat url(../../++resource++thumbs17.png) 0 -2772px;
    width: 110px;
    height: 68px;
}

.googlechart-preview-geochart-markers {
    background: no-repeat url(../../++resource++thumbs17.png) 0 -612px;
    width: 110px;
    height: 68px;
}

.googlechart-preview-imagesparkline {
    background: no-repeat url(../../++resource++thumbs17.png) 0 -3104px;
    width: 110px;
    height: 68px;
}

.googlechart-preview-annotatedtimeline {
    background: no-repeat url(../../++resource++thumbs17.png) 0 -1895px;
    width: 110px;
    height: 68px;
}

.googlechart-preview-motionchart {
    background: no-repeat url(../../++resource++thumbs17.png) 0 -3172px;
    width: 110px;
    height: 68px;
}

.googlechart-preview-candlestickchart {
    background: no-repeat url(../../++resource++thumbs17.png) 0 -68px;
    width: 110px;
    height: 68px;
}

.googlechart-preview-gauge {
    background: no-repeat url(../../++resource++thumbs17.png) 0 -3444px;
    width: 110px;
    height: 68px;
}

.googlechart-preview-orgchart {
    background: no-repeat url(../../++resource++thumbs17.png) 0 -2303px;
    width: 110px;
    height: 68px;
}

.googlechart-preview-treemap {
    background: no-repeat url(../../++resource++thumbs17.png) 0 -1419px;
    width: 110px;
    height: 68px;
}

.googlechart-preview-histogram {
    background: no-repeat url(../../++resource++thumbs17.png) 0 -3996px;
    width: 110px;
    height: 68px;
}

li.googlechart > fieldset > div > a > span {
    display:block;
}

.preview_button {
    text-align:center;
    display:block;
}

.googlechart {
    width:450px;
    float:left;
    margin-right:15px;
    min-height: 355px;
}

.googlechart_name {
    width: 150px !important;
}

.googlechart_firstchartinrow {
    clear: both;
}

.googlecharts_note_config input[type=text],
.googlecharts_note_config textarea {
    width: 99%;
}

.googlecharts_note_config textarea {
  height: 300px;
}

.googlechart_editor_loading {
    width: 896px;
}

.googlechart_editor_loaded {
    display: none;
}

.googlechart_palette_loading {
    display: none;
}

.googlechart_loading_img {
    width:100px;
    height:100px;
    background-image: url(../../++resource++eea.jquery.images/ajax-loader.gif);
}

.columnfilters-grid-checkbox {
    text-align:center;
}

.columnfilters-helper,
.columnfilters-helper li{
    display: list-item;
}

.googlecharts_columnfilter_slickgrid .ui-icon{
    margin:auto;
    background-image : url(../../++resource++jquery-ui-themes/sunburst/images/ui-icons_444444_256x240.png) !important;
}

.dialog_resizing {
    border: 2px dotted green;
    filter:alpha(opacity=80);
    opacity:0.8;
}

.googlechart-preview-dialog {
/*    padding:0;*/
}

#preview-iframe {
/*    position: absolute;*/
}

#preview-iframe iframe{
    position:absolute;
    z-index:9997;
}
.preview-container {
    border: 2px solid green;
    position:relative;
}

.preview-mask{
    position:absolute;
    z-index: 9998;
}

.chartArea{
    z-index: 9999 !important;
    border: 2px dotted green;
    position:relative;
    font-size: 20px;
    font-weight: bold;
    display:table;
    color:gray;
}

.chartArea div.googlechart-drag_drop{
    text-align:center;
    position:absolute;
    overflow:auto;
    margin:auto;
    height:100px;
    width:90%;
    top:0;
    left:0;
    right:0;
    bottom:0;
}

.preview-controls {
    text-align:center;
}

.googlechart-preview-dialog .btn{
    float:right;
}

.preview_button {
    cursor:pointer;
}

.charts-inline-block input {
    padding-bottom: 5px;
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 5px;
    margin-bottom: 0;
    height: 16px;
}

.colorpicker input{
    width:auto;
    line-height:12px;
}

.colorpicker {
    background-repeat: no-repeat !important;
    height:267px !important;
}
.colorpicker-palette {
    top:171px;
    position:relative;
    border:3px solid #bdbdbd;
    background-color:black;
    width:350px;
    color:white;
    font-weight:bold;
}

.slick-menu-colorsgrid {
    height:150px;
    width:400px;
}

.colorpickerfield,
.numbercolorpickerfield {
    height:0;
    width:0;
}

.slick-formatter-colorpreview {
    background-color:#FFFFFF;
}

.eea_formatter_errormsg {
    font-weight:bold;
    color:#FF0000;
}

.google-visualization-table-table img {
    height:12px !important;
}

.slick-menu-colorsgrid div.even,
.slick-menu-colorsgrid div.odd {
    padding: 0 !important;
}

#google-visualization-charteditor-preview-div-chart {
    z-index: 9999;
}

.googlecharts_filter_defaults input[type="text"]{
    width: 210px !important;
}

.googlecharts_defaultsfilter_number input[type="text"] {
    width: 50px !important;
    float: right;
}

.googlecharts_defaultsfilter_number select {
    width: 100px !important;
    float: right;
}

.googlecharts_defaultsfilter_number label {
    float:left;
}

.googlecharts_defaultsfilter_number_options{
    margin-left:10px;
}
.googlecharts_defaultsfilter_number_error{
    color:#FF0000;
}

.googlechart_filteritem {
    cursor:pointer;
}

.googlechart_columnfilters_list li{
    cursor:pointer;
}

input.googlechartarea-size {
    width:50px;
    height:20px;
    padding:0;
    margin:0px;
}

div.googlechartarea-input {
    font-size:14px;
}

.googlecharts-customdialog{
    background-color: white;
    position:absolute !important;
    display:block;
    z-index:100;
    overflow:hidden;
    border-radius: 5px;
    box-shadow: 0px 0px 100px #000;
}

.customDialogHeader{
    border-bottom: 1px solid #ccc;
}

#pivots {
    float:left;
}

.pivotsPreviewTable {
    float:left;
    margin-left:10px;
    color: #4d4d4d;

}
.titleRowForPivot > td{
    background-color: #F3F3F3;
    border: 1px solid #CCC;
    border-bottom: 2px solid #CCC;
    text-align: center;
}

.activefields {
    display: block !important;
}

.findexistingpivotsfields {
    display: none;
}

.annotator-controls{
    z-index:99999;
}

.unpivot-settings {
    border:2px dashed green;
    padding:55px;
    margin-left:200px;
    margin-top:20px;
}

.annotator-item:first-child textarea{
    min-height:100px !important;
    min-width:320px !important;
}

.annotator-resize{
    display:none;
}

.googlechartAnnotationColumnName input,
.googlechartAnnotationColumnName input:focus{
    outline: -webkit-focus-ring-color auto 5px !important;
}

.googlechartAnnotationViewerTable{
    font-size: 14px;
}

.unpivot-settings {
    font-size: 20px;
}

.unpivot-settings .annotator-hl {
    background-color: #E96565;
}

.eea-icon {
    color:black;
}

.googlecharts_columnfilter_slickgrid .eea-icon-check,
.googlecharts_defaultsfilter_slickgrid .eea-icon-check{
    color: green;
}

.main-label,
.sub-label {
    float:left;
    padding-top:10px;
}

.sub-label {
    color: #919191;
}

.pivot-icon {
    position:absolute;
    left:400px;
}

.expanded {
    background-color:white !important;
}

.unpivotingForm > div{
    padding-bottom:10px;
}

.unpivotingForm div.underlined {
    border-bottom:1px solid #cccccc;
}

.unpivotingForm div.count{
    width:25px;
    float:left;
}

.unpivotingForm div.description{
    max-width:90%;
    float:left;
    white-space:normal;
    font-size:14px;
}

.unpivotingForm div.extra{
    float:left;
}

.tableForChartLabel{
    font-size:16px;
}

.apply-unpivot{
    width:65px;
}

.reset-unpivot{
    width:110px;
}

.apply-unpivot,
.reset-unpivot{
    margin-right:10px;
    background-color:#d9dadb !important;
    color:black !important;
    cursor:pointer !important;
}

.apply-unpivot:hover,
.reset-unpivot:hover{
    background-color:#d9dadb !important;
    font-weight:bold;
}

.columnForUnpivot{
    cursor:text;
}

.googlechart_chart_config_info{
    padding:5px;
    float:left;
    font-weight:bold;
    width: 86%;
}

.googlechart .eea-icon-plus-square-o:before,
.googlechart .eea-icon-minus-square-o:before{
    font-size: 14px;
    text-shadow: none;
}

.googlechart-palette-cell-replacement{
    width:100%;
    height:100%;
}

.jfk-palette-cell-selected{
    outline:none !important;
}

.jfk-palette-cell-selected>.jfk-palette-colorswatch{
    background-image: none !important;
}

.jfk-palette{
    display:none;
}

.jfk-colormenu .charts-menuheader {
    display:none !important;
}

#google-visualization-charteditor-palette-panel .google-visualization-charteditor-section,
#google-visualization-charteditor-interval-panel .google-visualization-charteditor-section{
    margin-top: -1px;
    width: 244px;
    border: 1px solid #e5e5e5;
    background: white;
    padding: 10px 10px 20px;
}

.eea-googlechart-intervals-config-value,
.eea-googlechart-trendlines-config-value,
.eea-googlechart-colorpalettes-config-value{
    width:auto;
    float:right;
    border: 1px solid #dcdcdc !important;
    border-radius: 2px !important;
}

input[type=text].eea-googlechart-intervals-config-value{
    width:30px;
}

input[type=text].eea-googlechart-trendlines-config-value{
    width:150px;
}

.eea-googlechart-intervals-color,
.eea-googlechart-trendlines-color{
    width:38px;
    height:14px;
    padding:6px;
}

.eea-googlechart-intervals-color .eea-icon,
.eea-googlechart-trendlines-color .eea-icon {
    float:right;
}

.eea-googlechart-intervals-color .charts-flat-menu-button-indicator,
.eea-googlechart-trendlines-color .charts-flat-menu-button-indicator{
    float:left;
    width:14px;
    height:14px;
    border: 1px solid #dcdcdc !important;
}

.eea-googlechart-intervals-color.selected,
.eea-googlechart-trendlines-color.selected{
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

.eea-googlechart-intervals-colorpalette,
.eea-googlechart-trendlines-colorpalette {
    padding:10px;
    width:auto;
    height:auto;
    position:absolute;
    background-color:white;
    border: 1px solid rgba(0,0,0,.2);
    -webkit-box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    -moz-box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}

.eea-googlechart-intervals-palette-color,
.eea-googlechart-trendlines-palette-color{
    width:16px;
    height:16px;
    border-right:1px solid white;
    border-top:1px solid white;
    border-bottom:1px solid white;
    float:left;
}

.eea-googlechart-intervals-palette-color-clickable,
.eea-googlechart-trendlines-palette-color-clickable{
    cursor: pointer;
}

.eea-googlechart-intervals-palette-color:hover,
.eea-googlechart-trendlines-palette-color:hover{
    border-right:1px solid black;
    border-top:1px solid black;
    border-bottom:1px solid black;
}

.eea-googlechart-intervals-palette-color-auto,
.eea-googlechart-trendlines-palette-color-auto{
    float:left;
}

.eea-googlechart-intervals-palette-color-auto:hover,
.eea-googlechart-trendlines-palette-color-auto:hover{
    border:1px solid black;
}

.eea-googlechart-column-section{
    display:none
}

.eea-googlechart-column-section.active{
    display:block
}

.eea-googlechart-intervals-column-selector,
.eea-googlechart-trendlines-column-selector {
    float:right;
    width:180px !important;
}

#google-visualization-charteditor-panel-wrapper {
    width:286px !important;
}

#google-visualization-charteditor-series-select-div .charts-flat-menu-button-caption.charts-inline-block{
    width:160px;
    overflow:hidden;
    padding-right:20px;
}

.google-visualization-charteditor-panel{
    height:350px !important;
}

#google-visualization-charteditor-panel-wrapper{
    border:1px solid #e4e4e4;
}

#googlechart_palette_select {
    display: none;
}

.google-visualization-charteditor-thumbnail{
    float:left;
}

.google-visualization-charteditor-panel-navigation-cell {
    border-top-left-radius: 5px !important;
    border-top-right-radius: 5px !important;

    border: 1px solid #ccc !important;
    background-color: #eaeaea !important;
    font-size:14px;
    height:19px;
}
.google-visualization-charteditor-panel-navigation-cell.charts-tab-selected{
    background-color: white !important;
}
.ui-dialog .ui-dialog-titlebar-resize{
    position: absolute;
    right: 2em;
    top: 50%;
    width: 21px;
    margin: -10px 0 0 0;
    padding: 1px;
    height: 20px;
}

.ui-button-icon-primary.eea-icon{
    color:white !important;
}

.ui-button-icon-primary.eea-icon:before{
    margin-top:1px;
    margin-left:3px;
}

#google-visualization-charteditor-preview-div-wrapper {
    margin-top:1px;
}

.eea-googlechart-custom-column-title div{
    margin-top:3px;
    float:left;
}

.eea-googlechart-custom-column-title select{
    background: whiteSmoke;
    height:25px;
    margin:0px;
    font-size:12px;
}

.eea-tutorial {
    float:right;
    line-height:24px;
    margin-left:10px;
    margin-right:10px;
    margin-top:5px;
}

.eea-tutorial span{
    float:right;
    color: #205c90;
    font-size: 11px;
    text-decoration:underline;
}

.eea-tutorial .tutorial-icon{
    float:right;
    color: #205c90;
    font-size:24px;
}

.googlecharts_columns_config.hideOverflow, .matrixChart_dialog.hideOverflow {
    overflow: hidden;
}

.google-visualization-charteditor-section-title.daviz-custom-widget-title {
    display: block;
    float: left;
}

.google-visualization-charteditor-item-gap {
    clear:both;
}

.multiples-matrix-item-overlay{
/*    background-color:rgba(255,0,0,0.5);*/
}

.multiples-matrix-item-overlay.selected{
    background-color:rgba(208,228,173,0.5)

}

.settingsDiv{
    width:150px;
    float:right;
}

.settingsDiv label,
#multiples-sort label{
    font-weight: bold;
}

.settingsDiv label.help{
    font-weight: normal;
    color:gray;
    font-size:90%;
}

.multiples-config{
    width: 100%;
    height: 100%;
}

.multiples-config .multiples-base-preview{
    width:300px;
    height:300px;
    float:left;
}

.multiples-config .multiples-matrix{
/*    margin-top:10px;
    margin-left:30px;*/
    float:left;
    overflow:auto;
}

.multiples-config .multiples-base-preview .base-chart-iframe{
    width:300px;
    height:300px;
}

.multiples-config .multiples-matrix .multiples-matrix-elements .small-container{
    float:left;
    width:67px;
    height:67px;
    border:1px solid gray;
    position:relative;
}

.multiples-config .multiples-matrix .multiples-matrix-elements .small-chart{
    width:67px;
    height:67px;
    position:absolute;
    z-index:1;
}

.multiples-config .multiples-matrix .multiples-matrix-elements .multiples-matrix-item-overlay{
    width:67px;
    height:67px;
    position:absolute;
    top:0;
    left:0;
    z-index:2;
    cursor:pointer;
}

#multiples-resize .chartPreview{
    border:2px solid green;
    position:relative;
    float:left;
}

#multiples-resize .chartPreview .chartAreaResizable{
    border:2px dashed green;
    position:absolute;
}

.chartsettings {
    width:50px;
    height:20px !important;
    font-size:14px !important;
    padding:0 !important;
}

.chartsettings.chartTitle {
    width:150px;
}

.matrix-column-header{
    float:right;
}
.matrix-column-header-label {
    float:left;
    border:1px solid gray;
    font-size:90%;
    width:67px;
}

.matrix-row-header-label {
    float:left;
    font-weight:bold;
}

.matrix-row-header-level-0 {
    font-size:90%;
    width: 100px;
    height:67px;
    border:1px solid gray;
    font-weight: normal;
}

div.field[id*='multiples_settings'] {
    display:none;
}

.multiples-smchart-container,
.multiples-preview-sm-header-item{
    float:left;
    position:relative;
    box-shadow:3px 3px 3px #ccc;
    margin:2px;
}

.multiples-header-item{
    float:left;
    width:61px;
    padding:3px;
    overflow:hidden;
    border:1px solid rgb(230,230,230);
    background-color:rgb(210,210,210);
}

.multiples-header-item input{
    float:right;
}

.multiples-matrix-config-checkbox-label{
    float:left;
}

.multiples-matrix-config{
/*    display:none;*/
    float:left;
}

.note-shared-charts-list {
    list-style-type: disc;
}

.note-shared-charts-list li {
    display: list-item;
}

.draggable-column {
    float:left;
    position:relative;
    border:1px dashed gray;
    background-color:#f3f3f3;
    margin:2px;
    z-index:9999;
}

.droppable-column {
    position:relative;
    z-index:9998;
    width:300px;
    height:20px;
    text-align:center;
}

.multiples-matrix-config-column-horizontal{
    margin-left:101px;
    width: auto;
}

.multiples-columns-title{
    margin:4px;
    font-weight:bold;
    float:left;
}

.multiples-matrix-config-column-horizontal,
.multiples-matrix-config-column-vertical{
    border:1px dashed gray;
    min-height:20px;
    text-align:center;

}

.removable-title,
.removable-column{
    margin:2px;
    float:left;
}
.removable-column{
    background-color:#f3f3f3;
    border:1px dashed gray;
}

.smc-widget {
    position: relative;
}

.multiples-matrix-elements .smc-widget {
    border:1px solid gray;
}

#grid-adjustments .btn{
    float:right;
}

#grid-adjustments label{
    float:left;
}

#grid-adjustments input{
    float:right;
}

.multiples-preview-sm-area {
    float:left;
}

#multiples-sort table th,
#multiples-sort table td{
    text-align:left;
    border:1px solid gray;
}

#multiples-sort .selectable-element{
    cursor:pointer;
    background-color:rgba(208,228,173,0.5);
}

#multiples-sort .selected-element{
    background-color:rgba(208,228,173,1);
}

.headers-settings.hidden{
    display:none;
}

.multiples-preview-sm-header-item-rename{
    float:right;
}
