.google-visualization-charteditor-dialog{
    z-index:2000;
}
#googlecharts_config #googlecharts_actionsView{
    margin-top:1em;
}

#googlecharts_submit{
    color:#fff !important;
    background:#346F83;
    background-image: -webkit-gradient(linear,0% 40%,0% 70%,from(#478EA5),to(#346F83));
    background: -webkit-linear-gradient(#478EA5, #346F83); /* Safari 5.1+, Chrome 10+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#478EA5', endColorstr='#346F83'); /* IE6 & IE7 */
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#478EA5', endColorstr='#346F83')"; /* IE8+ */
    background-image: -moz-linear-gradient(270deg, #478EA5, #346F83);
    background-image: -ms-linear-gradient(top,#478EA5,#346F83);
    background-image: -o-linear-gradient(top,#478EA5,#346F83);
    background-image: linear-gradient(top,#478EA5,#346F83);
    font: bold 12px Verdana, Arial, sans-serif;
    padding: 7px 12px;
    position: relative;
    display: inline-block;
    text-shadow: 0 1px 1px #000;
    -webkit-transition: border-color .218s;
       -moz-transition: border .218s;
       -ms-transition: border-color .218s;
         -o-transition: border-color .218s;
            transition: border-color .218s;
    -webkit-transition: box-shadow .218s;
       -moz-transition: box-shadow .218s;
       -ms-transition: box-shadow .218s;
         -o-transition: box-shadow .218s;
            transition: box-shadow .218s;
    border: 1px solid #346F83;
    -webkit-border-radius: 2px;
       -moz-border-radius: 2px;
            border-radius: 2px;
}

#googlecharts_config .ui-icon-plus{
    float-left;
    border: 2px solid #CCCCCC;
}

.googlechart_handle{
    cursor:move;
}

#googlecharts_list,
.googlechart_filters_list{
    list-style-type:none !important;
    list-style-image:none !important;
    margin:0 !important;
}

.googlechart{
    background-color:#FFFFFF;
}

.googlechart_modified{
    background-color:#FFFFBB;
}

.googlechart fieldset {
    padding: 0.5em 1em;
}

.googlechart table {
    width: 100%;
}

.googlechart .filters_position {
    text-align: right;
}

#googlecharts\.columns\.toDataContainer{
    display:none;
}

.googlechart-dialog .ui-dialog-titlebar,
#googlechart_table_accordion > h3{
    color:black;
    font-size:1.2em;
    margin:0 2px;
    padding:0.2em 0.5em;
    background-color:#CDE2A7;
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FFFFFF), to(#CDE2A7));
    background-image: -webkit-linear-gradient(center top , #FFFFFF, #CDE2A7);
    background-image: -moz-linear-gradient(center top , #FFFFFF, #CDE2A7);
    background-image: -ms-linear-gradient(center top , #FFFFFF, #CDE2A7);
    background-image: -o-linear-gradient(center top , #FFFFFF, #CDE2A7);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#CDE2A7'); /* IE6 & IE7 */
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#CDE2A7')"; /* IE8+ */
}

.googlechart-dialog .ui-dialog-titlebar:first-child {
    background-color: #fff;
    background-image: none;
    border: none;
    border-bottom: 1px solid #ccc;
    font-size: 16px;
}

.googlechart-dialog {
  border-radius: 10px;
  box-shadow: 0px 0px 100px #000;
  border: 1px solid #3A5774;
}

.googlechartTable {
    color:black;
    font-size:0.8em !important;
    border:1px solid #DDDDDD;
}
.googlechartTable th,
.pivotedColumn {
    padding:2px;
    border:1px solid #EEEEEE;
    background-color:#CDE2A7;
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FFFFFF), to(#CDE2A7));
    background-image: -webkit-linear-gradient(center top , #FFFFFF, #CDE2A7);
    background-image: -moz-linear-gradient(center top , #FFFFFF, #CDE2A7);
    background-image: -ms-linear-gradient(center top , #FFFFFF, #CDE2A7);
    background-image: -o-linear-gradient(center top , #FFFFFF, #CDE2A7);

}
.googlechartTable td{
    padding:2px;
    border:1px solid #EEEEEE;
}

.googlechartTable select {
    margin-left:3px;
    padding:0px !important;
    font-size:1.2em;
    vertical-align:none;
}

.googlechart_width,
.googlechart_height {
    width:50px !important;
    float:right;
}
#gcharts-dashboard-edit .ui-icon-show,
.googlechartTable .ui-icon-show {
  background-image: url(../../++resource++eea.daviz.images/show.png);
}

#gcharts-dashboard-edit .ui-icon-hide,
.googlechartTable .ui-icon-hide {
  background-image: url(../../++resource++eea.daviz.images/hide.png);
}

#gcharts-dashboard-edit .ui-icon-visibility {
    background-image: url(../../++resource++eea.daviz.images/hide.png);
}

#gcharts-dashboard-edit .dashboard-header-hidden .ui-icon-visibility {
    background-image: url(../../++resource++eea.daviz.images/show.png);
}

#newColumns th{
    cursor:move;
}

.googlechartTable .ui-icon {
    cursor:pointer;
}

#content #gcharts-dashboard-edit,
#gcharts-dashboard-edit {
    background: #f3f3f3;
    list-style-type: none;
    list-style-image: none;
    margin: 0;
    padding-top: 5px;
}

#gcharts-dashboard-edit:after {
    content: '.';
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

#gcharts-dashboard-edit .ui-state-highlight {
    float: left;
}

.dashboard-resizable-helper {
    border: 2px dotted #E0EDFE;
}

.dashboard-mask {
    position: absolute;
    width: 100%;
    height: 100%;
}

.dashboard-header {
    padding: 5px;
    background-color: #CDE2A7;
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FFFFFF), to(#CDE2A7));
    background-image: -webkit-linear-gradient(center top , #FFFFFF, #CDE2A7);
    background-image: -moz-linear-gradient(center top , #FFFFFF, #CDE2A7);
    background-image: -ms-linear-gradient(center top , #FFFFFF, #CDE2A7);
    background-image: -o-linear-gradient(center top , #FFFFFF, #CDE2A7);
    position: absolute;
    width: 100%;
    cursor: move;
    opacity: 0;
    -webkit-transition: opacity .5s;
    -moz-transition: opacity .5s;
    -o-transition: opacity .5s;
    transition: opacity .5s;
}

.dashboard-chart:hover .dashboard-header {
    opacity: 1;
}

.dashboard-header span.title {
    float: left;
    font-weight: bold;
}

.dashboard-header input {
    width: 50px;
}

.dashboard-header span {
    padding: 0 0.5em;
}

.dashboard-header-hidden {
    background-color: #E6E6E6;
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FFFFFF), to(#E6E6E6));
    background-image: -webkit-linear-gradient(center top , #FFFFFF, #E6E6E6);
    background-image: -moz-linear-gradient(center top , #FFFFFF, #E6E6E6);
    background-image: -ms-linear-gradient(center top , #FFFFFF, #E6E6E6);
    background-image: -o-linear-gradient(center top , #FFFFFF, #E6E6E6);
}

#content .dashboard-chart,
dl.portlet .dashboard-chart,
.dashboard-chart {
    background-color: #fff;
    text-align: center;
    box-shadow: 3px 3px 3px #ccc;
    margin: 5px;
    float: left;
    overflow: hidden;
    cursor: pointer;
}

.dashboard-chart iframe {
    width: 100%;
    height: 100%;
}

.dashboard-chart iframe body {
    overflow: hidden;
}

.chart_div > div > div {
    overflow: hidden ! important;
    height: 300px;
}

.dashboard-charts .box-body {
    padding-bottom: 1em;
}

.dashboard-charts,
.dashboard-filters {
    box-shadow: 0 0 1px #000;
    margin: 5px 0;
    border-radius: 5px;
    overflow: hidden;
    float: left;
}

.dashboard-charts .box-title,
.dashboard-filters .box-title {
    padding: 0.5em;
    cursor: move;
    text-align: center;
    min-width: 260px;
    overflow: hidden;
}

.dashboard-charts .box-title input,
.dashboard-filters .box-title input{
    width: 50px;
}

.dashboard-charts .box-title span.label,
.dashboard-filters .box-title span.label {
    font-weight: bold;
    float: left;
}

.dashboard-filters .ui-icon-plus {
    float: right;
    border: 2px solid #ccc;
    cursor: pointer;
}

.dashboard-filters .box-body {
    min-height: 5em;
}

.dashboard-charts .box-body:after,
.dashboard-filters .box-body:after {
    content: '.';
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.dashboard-filters .ui-state-highlight {
    float: left;
}

.dashboard-filter {
    float: left;
    width: 200px;
    border: 1px solid #eee;
    margin: 5px;
    padding: 1em;
    cursor: move;
    background: #fff;
    box-shadow: 3px 3px 3px #ccc;
}

.dashboard-chart .ui-icon,
.dashboard-filter .ui-icon {
    cursor: pointer;
    float: right;
}

#preview-iframe {
    background: white;
    box-shadow: 0px 0px 5em #000;
    border-radius: 10px;
    display: none;
    min-width: 200px;
    min-height: 200px;
    left: 100px;
    padding: 5px;
}

#preview-iframe a.close {
    background-image: url(pb_close.png);
    position: absolute;
    left: -14px;
    top: -14px;
    cursor: pointer;
    height: 30px;
    width: 30px;
}

.googlechart_types_container {
    width:270px;
    height:300px;
    border:4px solid #dddddd;
    float:left;
    overflow:auto;
}

.googlechart_type_thumbnail {
    width:110px;
    height:68px;
    border:4px solid #dddddd;
    float:left;
    margin:4px;
}

.googlechart_type_thumbnail:hover{
    border: 4px solid #C1D9FF;
}

.googlechart_type_thumbnail_selected{
    width:110px;
    height:68px;
    float:left;
    margin:4px;
    border: 4px solid #6688EE;
}

.googlechart_type_thumbnail > div,
.googlechart_type_thumbnail_selected > div {
    width:100%;
    height:100%;
}

.googlechart_type_LineChart {
    background: url("../../++resource++thumbs16.png") no-repeat scroll 0 -1615px transparent;
}

.googlechart_type_LineChart_disabled {
    background: url("../../++resource++thumbs16.png") no-repeat scroll 0 -2424px transparent;
}

.googlechart_type_SmoothLineChart{
    background: url("../../++resource++thumbs16.png") no-repeat scroll 0 -68px transparent;
}

.googlechart_type_SmoothLineChart_disabled{
    background: url("../../++resource++thumbs16.png") no-repeat scroll 0 -2356px transparent;
}

.googlechart_type_ComboChart{
    background: url("../../++resource++thumbs16.png") no-repeat scroll 0 -2764px transparent;
}

.googlechart_type_ComboChart_disabled{
    background: url("../../++resource++thumbs16.png") no-repeat scroll 0 -3512px transparent;
}

.googlechart_type_RadarChart{
    background: url("../../++resource++thumbs16.png") no-repeat scroll 0 -2900px transparent;
}

.googlechart_type_RadarChart_disabled{
    background: url("../../++resource++thumbs16.png") no-repeat scroll 0 -340px transparent;
}

.googlechart_type_AreaChart{
    background: url("../../++resource++thumbs16.png") no-repeat scroll 0 -3444px transparent;
}

.googlechart_type_AreaChart_disabled{
    background: url("../../++resource++thumbs16.png") no-repeat scroll 0 -1139px transparent;
}

.googlechart_type_StackedAreaChart{
    background: url("../../++resource++thumbs16.png") no-repeat scroll 0 -3648px transparent;
}

.googlechart_type_StackedAreaChart_disabled{
    background: url("../../++resource++thumbs16.png") no-repeat scroll 0 -2696px transparent;
}

.googlechart_type_SteppedAreaChart{
    background: url("../../++resource++thumbs16.png") no-repeat scroll 0 -2152px transparent;
}

.googlechart_type_SteppedAreaChart_disabled{
    background: url("../../++resource++thumbs16.png") no-repeat scroll 0 -408px transparent;
}

.googlechart_type_ColumnChart{
    background: url("../../++resource++thumbs16.png") no-repeat scroll 0 -1751px transparent;
}

.googlechart_type_ColumnChart_disabled{
    background: url("../../++resource++thumbs16.png") no-repeat scroll 0 -1207px transparent;
}

.googlechart_type_StackedColumnChart{
    background: url("../../++resource++thumbs16.png") no-repeat scroll 0 -272px transparent;
}

.googlechart_type_StackedColumnChart_disabled{
    background: url("../../++resource++thumbs16.png") no-repeat scroll 0 -1343px transparent;
}

.googlechart_type_BarChart{
    background: url("../../++resource++thumbs16.png") no-repeat scroll 0 -3240px transparent;
}

.googlechart_type_BarChart_disabled{
    background: url("../../++resource++thumbs16.png") no-repeat scroll 0 -1479px transparent;
}

.googlechart_type_StackedBarChart{
    background: url("../../++resource++thumbs16.png") no-repeat scroll 0 -748px transparent;
}

.googlechart_type_StackedBarChart_disabled{
    background: url("../../++resource++thumbs16.png") no-repeat scroll 0 -1547px transparent;
}

.googlechart_type_ScatterChart{
    background: url("../../++resource++thumbs16.png") no-repeat scroll 0 -3716px transparent;
}

.googlechart_type_ScatterChart_disabled{
    background: url("../../++resource++thumbs16.png") no-repeat scroll 0 -3036px transparent;
}

.googlechart_type_BubbleChart{
    background: url("../../++resource++thumbs16.png") no-repeat scroll 0 -136px transparent;
}

.googlechart_type_BubbleChart_disabled{
    background: url("../../++resource++thumbs16.png") no-repeat scroll 0 -935px transparent;
}

.googlechart_type_PieChart{
    background: url("../../++resource++thumbs16.png") no-repeat scroll 0 -2492px transparent;
}

.googlechart_type_PieChart_disabled{
    background: url("../../++resource++thumbs16.png") no-repeat scroll 0 -2560px transparent;
}

.googlechart_type_Pie3dChart{
    background: url("../../++resource++thumbs16.png") no-repeat scroll 0 -1003px transparent;
}

.googlechart_type_Pie3dChart_disabled{
    background: url("../../++resource++thumbs16.png") no-repeat scroll 0 -3784px transparent;
}

.googlechart_type_GeoRegionsChart{
    background: url("../../++resource++thumbs16.png") no-repeat scroll 0 -544px transparent;
}

.googlechart_type_GeoRegionsChart_disabled{
    background: url("../../++resource++thumbs16.png") no-repeat scroll 0 -680px transparent;
}

.googlechart_type_GeoMarkersChart{
    background: url("../../++resource++thumbs16.png") no-repeat scroll 0 -3308px transparent;
}

.googlechart_type_GeoMarkersChart_disabled{
    background: url("../../++resource++thumbs16.png") no-repeat scroll 0 -3104px transparent;
}

.googlechart_type_SparklineChart{
    background: url("../../++resource++thumbs16.png") no-repeat scroll 0 -2084px transparent;
}

.googlechart_type_SparklineChart_disabled{
    background: url("../../++resource++thumbs16.png") no-repeat scroll 0 -2016px transparent;
}

.googlechart_type_TimelineChart{
    background: url("../../++resource++thumbs16.png") no-repeat scroll 0 -3376px transparent;
}

.googlechart_type_TimelineChart_disabled{
    background: url("../../++resource++thumbs16.png") no-repeat scroll 0 -2288px transparent;
}

.googlechart_type_MotionChart{
    background: url("../../++resource++thumbs16.png") no-repeat scroll 0 -1275px transparent;
}

.googlechart_type_MotionChart_disabled{
    background: url("../../++resource++thumbs16.png") no-repeat scroll 0 -1071px transparent;
}

.googlechart_type_CandlestickChart{
    background: url("../../++resource++thumbs16.png") no-repeat scroll 0 -476px transparent;
}

.googlechart_type_CandlestickChart_disabled{
    background: url("../../++resource++thumbs16.png") no-repeat scroll 0 -1819px transparent;
}

.googlechart_type_GaugeChart{
    background: url("../../++resource++thumbs16.png") no-repeat scroll 0 -3172px transparent;
}

.googlechart_type_GaugeChart_disabled{
    background: url("../../++resource++thumbs16.png") no-repeat scroll 0 -2220px transparent;
}

.googlechart_type_OrganizationalChart{
    background: url("../../++resource++thumbs16.png") no-repeat scroll 0 -204px transparent;
}

.googlechart_type_OrganizationalChart_disabled{
    background: url("../../++resource++thumbs16.png") no-repeat scroll 0 -1411px transparent;
}

.googlechart_type_TreeMapChart{
    background: url("../../++resource++thumbs16.png") no-repeat scroll 0 0px transparent;
}

.googlechart_type_TreeMapChart_disabled{
    background: url("../../++resource++thumbs16.png") no-repeat scroll 0 -2628px transparent;
}

.googlechart_type_TableChart{
    background: url("../../++resource++thumbs16.png") no-repeat scroll 0 -3580px transparent;
}

.googlechart_type_TableChart_disabled{
    background: url("../../++resource++thumbs16.png") no-repeat scroll 0 -2832px transparent;
}

#googlechart_table_accordion > h3 {
    height: 19px;
}

#googlechart_table_accordion > h3 > a{
    color:black !important;
    padding-top: 1px;
}

.ui-icon-triangle-1-e{
    background: url("../../++resource++jquery-ui-themes/sunburst/images/ui-icons_444444_256x240.png") no-repeat scroll -32px -16px transparent !important;*/
}

.ui-icon-triangle-1-s{
    background: url("../../++resource++jquery-ui-themes/sunburst/images/ui-icons_444444_256x240.png") no-repeat scroll -64px -16px transparent !important;
}

.droppable {
    height: 20px;
}

.hoveredDrop {
    background-color:#CDE2A6;
}

.pivotedColumn,
.draggable {
    height:16px;
    font-weight:bold;
}

.draggable {
    cursor:move;
}

.googlechart-editor{
    position:relative !important;
    left:0 !important;
    top:0 !important;
    display:block !important;
    z-index:999 !important;
}

.googlechart-editor .modal-dialog-title,
.googlechart-editor .modal-dialog-buttons,
#google-visualization-charteditor-input-chart-name {
    display:none !important;
}

.google-visualization-charteditor-dialog{
    z-index:-1;
}

.column-hidden {
    background-color:#BBBBBB;
}

.googlecharts_columns_config {
    padding-top:0px !important;
}

#googlechartid_tmp_chart {
    float:left;
}

#googlechart_palette_select {
    margin:2px;
    margin-top: 2em;
}

#googlechart_preview_palette {
    margin-top:3px;
    padding:6px;
    border:2px solid #DDDDDD;
}
.googlechart_preview_color {
    width:21px;
    height:21px;
    float:left;
    margin:2px;
    border:2px solid #DDDDDD;
}