/* Icons  taken from the free Gemicon icon set designed by Turqois */
.sprite {
    background: url(++resource++eea.googlecharts.images/share-spritesheets.png) no-repeat;
    display: block;
    margin: 0 auto;
    transform: scale(0.7);
}
.sprite-explore {
    width: 32px;
    height: 32px;
    background-position: -5px -5px;
}

.sprite-hide {
    width: 32px;
    height: 32px;
    background-position: -47px -5px;
}

.sprite-show {
    width: 32px;
    height: 32px;
    background-position: -5px -47px;
}

.sprite-share {
    width: 32px;
    height: 32px;
    background-position: -47px -47px;
}

.sprite-save {
    width: 32px;
    height: 32px;
    background-position: -89px -5px;
}

.sprite-enlarge {
    width: 32px;
    height: 32px;
    background-position: -89px -47px;
}


#googlechart_full > div > div {overflow:hidden ! important;}
#googlechart_filters {margin-top:0 !important;}
.googlechart_full > div > div {overflow:hidden ! important;}
.googlechart_filters {margin-top:0 !important;}
body {margin:1px; overflow: hidden;
    font-family: Verdana, "Lucida Grande", Helvetica, Arial, sans-serif;
    font-size: 75%;
}
a {
    color: #205c90;
    text-decoration: none;
}
a:visited, a:hover {
    color: #8e004d;
}
.googlechart-notes {
    color: #666;
}
.googlechart-notes {
    margin: 0.5em 0;
}
.googlecharts-embed-dialog textarea {
    width: 100%;
}
.googlechart-share-box {
    position: absolute;
    right: 0;
    height: 75px;
    background: white;
    z-index: 1;
    vertical-align: baseline;
    text-align: center;
}

.googlechart-share {
    margin-top: 0.5em;
    padding: 1em;
    display: block;
    float:right;
}

.googlechart-share-btn {
    display: block;
    width: 30px;
    position: absolute;
    top: 28%;
    right: 0;
}

.googlechart-share ui-icon {
    display: inline-block;
    vertical-align: bottom;
}
.googlechart-datasource {
    width: 105px;
    vertical-align: top;
}
#googlechart-provenance-definitions {
    list-style: lower-alpha inside;
    padding: 0 0 0 0.5em;
}
#googlechart-provenance-definitions li {
    float: left;
    margin: 0 0.5em;
}
.pull-left { float: left; margin-right: 1em;}
.pull-right { float: right;}
.table-cel { display: table-cell;}
.googlechart-title { margin: 0;}
