/* Icons  taken from the free Gemicon icon set designed by Turqois */
.sprite {
    background: url(++resource++eea.googlecharts.images/share-spritesheets.png) no-repeat;
    display: block;
    margin: 0 auto;
    opacity: 0.5;
}
.sprite-enlarge {
    width: 16px;
    height: 16px;
    background-position: -5px -5px;
}
.sprite-explore {
    width: 16px;
    height: 16px;
    background-position: -31px -5px;
}
.sprite-save {
    width: 16px;
    height: 16px;
    background-position: -5px -31px;
}
.sprite-share {
    width: 16px;
    height: 16px;
    background-position: -31px -31px;
}


#googlechart_full > div > div { overflow:hidden !important; }
#googlechart_filters { margin-top:0 !important; }
.googlechart_full > div > div { overflow:hidden !important; }
.googlechart_filters { margin-top:0 !important; }

body { margin:1px; overflow: hidden;
    font-family: Verdana, "Lucida Grande", Helvetica, Arial, sans-serif;
    font-size: 75%;
}

p {
    margin: 0.5em 0;
}

a {
    color: #205c90;
    text-decoration: none;
}
a:visited, a:hover {
    color: #8e004d;
}

.googlechart-notes {
    color: #666;
}
.googlechart-notes {
    margin: 0.5em 0;
}
.googlechart_dashboard .googlechart-notes, .googlechart-datasources-info {
    color: #666;
    line-height: 1.25em;
    background: #eee;
    padding: 0.5em 1em 1em 1em;
    border-left: 1em solid #ccc;
    clear: both;
    font: normal 80% Verdana, Arial, Helvetica, sans-serif;
    margin: 0 0 1em 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    width: 100% !important;
    overflow: hidden;
}
.notesMeld {
    padding-top: 0;
    margin-top: -1.5em;
}
.googlecharts-embed-dialog textarea {
    width: 100%;
}

.googlechart-share-box {
    z-index: 1;
    vertical-align: baseline;
    text-align: center;
    float: left;
    font-size: 12px;
}
.googlechart-share {
    padding: 0 0.5em;
    display: block;
    float:right;
}
.googlechart-share-btn {
    display: block;
    width: 30px;
    position: absolute;
    top: 28%;
    right: 0;
}
.googlechart-share .ui-icon {
    display: inline-block;
    vertical-align: bottom;
}

.googlechart-datasource {
    vertical-align: top;
    padding: 0;
    margin: 0;
    float: left;
}
#googlechart-provenance-definitions {
    list-style: lower-alpha inside;
    padding: 0;
    min-width: 80%;
    max-width: 93%;
    margin: 0;
}
#googlechart-provenance-definitions li {
    float: left;
    margin: 0 0.5em;
}
.googlechart-provenance-definition {
    margin-left: 0.5em;
    display: block;
}

.pull-left { float: left; margin-right: 1em;}
.pull-right { float: right;}
.table-cell { display: table-cell;}
.googlechart-title { margin: 0;}

/* made table font size smaller by default and better layout #22591 */

.google-visualization-table-table {
        font-size:7pt !important;
        font-family: verdana,sans-serif !important;
        height: 100%;
        width: 100% !important;
}

/* #29216 display draft image for charts that are not published */
.wf-draft .googlechart_view > div > div > div {
    background-image: url(/++resource++eea.googlecharts.images/draft.png);
}
.wf-draft svg {
    opacity: 0.6;
}

@media print {

    .googlechart_view,
    .googlechart_view > div > div {
        width: 100% !important;
    }
    .googlechart_view > div {
        margin: 0;
    }

}
