/* Print
-------- */

/* we don't need the border and shadow of the dashboards to be added in print */
#googlechart_dashboard, .googlechart_dashboard {
    box-shadow: none;
    border: none;
}

.go-to-original-link {
  display: none;
}

.googlechart_filters {
  display: none;
}

/* #22489 remove float from dashboard charts when printing */
.googlechart_view {
    overflow: hidden;
}

#content .google-visualization-table-table {
    margin: 0; /* override #content table margin settings from pdf.print.css */
}

.google-visualization-table-th.gradient {
    white-space: pre-wrap;
    background-image: none !important; /* wkhtmltopdf has issues with the css3 gradient as such we remove it */
}

.googledashboard-chart {
    float: none !important;
    page-break-inside: avoid;
    height: inherit !important;
}
.googlechart_left_image {
    padding-left: 1.5em;
}
.googlechart_bottom_images {
    overflow: hidden;
    padding-bottom: .5em;
}
.googlechart_bottom_images a {
    padding-top: 1.5em;
    display: block;
}

.googlechart_bottom_images img {
    float: none;
    width: inherit;
}

