/* View Google Charts
*/

.tab-charts span {
  background-image: url("../../++resource++eea.googlecharts.images/charts-icon.png");
  background-repeat: no-repeat;
  display: block;
  padding: 50px 5px 0;
}


.googlechart_class_Dashboard span {
    background: url("../../++resource++mini2.png") no-repeat scroll 0 0px transparent;
}

.googlechart_class_PieChart span {
    background: url("../../++resource++mini2.png") no-repeat scroll 0 -21px transparent;
}

.googlechart_class_LineChart span,
.googlechart_class_ComboChart span{
    background: url("../../++resource++mini2.png") no-repeat scroll 0 -84px transparent;
}

.googlechart_class_AreaChart span{
    background: url("../../++resource++mini2.png") no-repeat scroll 0 -105px transparent;
}

.googlechart_class_ColumnChart span{
    background: url("../../++resource++mini2.png") no-repeat scroll 0 0px transparent;
}

.googlechart_class_BarChart span{
    background: url("../../++resource++mini2.png") no-repeat scroll 0 -42px transparent;
}

.googlechart_class_ScatterChart span,
.googlechart_class_BubbleChart span{
    background: url("../../++resource++mini2.png") no-repeat scroll 0 -168px transparent;
}

.googlechart_class_GeoChart span{
    background: url("../../++resource++mini2.png") no-repeat scroll 0 -63px transparent;
}

.googlechart_class_ImageSparkLine span,
.googlechart_class_AnnotatedTimeLine span,
.googlechart_class_MotionChart span,
.googlechart_class_CandlestickChart span{
    background: url("../../++resource++mini2.png") no-repeat scroll 0 -147px transparent;

}

.googlechart_class_Gauge span,
.googlechart_class_OrgChart span,
.googlechart_class_TreeMap span,
.googlechart_class_Table span{
    background: url("../../++resource++mini2.png") no-repeat scroll 0 -126px transparent;
}

#tab-charts {
    background: #F3F3F3;
    padding-bottom: 2em;
    border-radius: 8px 0;
}

#content ul.googlechart_tabs,
ul.googlechart_tabs {
    background: #2C8DA2;
    border-radius: 10px 10px 0px 0px;
    border: none;
    height: 37px;
    list-style: none;
    list-style-image: none !important;
    margin: 0 !important;
    padding: 0;
}

ul.googlechart_tabs li {
    float: left;
    list-style-image: none !important;
    margin: 0 !important;
    text-indent: 0;
}

ul.googlechart_tabs span {
  height: 21px;
  padding-left: 30px;
}

ul.googlechart_tabs li a {
    color: #FFF;
    border: 0px;
    height: 17px;
    font-size: 125%;
    text-decoration: none;
    text-shadow: 1px 1px 1px #000000;
    display: inline-block;
    padding:10px;
}

ul.googlechart_tabs li a.current, ul.googlechart_tabs li a:hover {
    color: #2D8EA3;
    text-shadow: 1px 1px 1px #FFFFFF;
    background-color: #F3F3F3;
}

ul.googlechart_tabs li:first-of-type a.current,
ul.googlechart_tabs li:first-of-type a:hover {
  border-radius: 8px 0 0 0;
}

/* Google Charts view */
#googlechart_dashboard .google-visualization-controls-slider-horizontal {
    width: 130px;
}

#googlechart_dashboard .google-visualization-controls-slider-handle {
    width: 130px;
}

.goog-inline-block input {
    width: 90%;
}

.google_buttons_bar {
    text-align: right;
}

#googlechart_dashboard {
    margin-top: 1em;
}

#googlechart_export_button {
}


#googlechart_filters {
    white-space:nowrap;
}

#googlechart_filters > div {
    background: #F3F3F3;
    margin-bottom:1em;
    border-radius: 5px
    padding-bottom: 1em;
    min-height: 80px;
    text-align: center;
}

#googlechart_filters label {
    display: block;
    font-weight: normal;
    color: white;
    padding: 5px 10px;
    font-size: 14px;
    line-height: 1.6;
    text-shadow: 1px 1px 1px #555;
    background-color: #777C1F;
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#b1c748), to(#777c1f));
    background-image: -webkit-linear-gradient(center top , #b1c748, #777c1f);
    background-image: -moz-linear-gradient(center top , #b1c748, #777c1f);
    background-image: -ms-linear-gradient(center top , #b1c748, #777c1f);
    background-image: -o-linear-gradient(center top , #b1c748, #777c1f);
    box-shadow: 0px 2px 2px #888;
    max-height: 25px;
    overflow: hidden;
    margin-bottom: 1em;
    text-align: left;
}

#googlechart_view {
    box-shadow: 0px 5px 5px #ccc;
    text-align: center;
    min-width: 800px;
    background: #FFFFFF;
    border-top: 1px solid #eee;
}

#googlechart_view:after{
    content: '.';
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
    overflow:hidden;
}

/* Table
*/

/* Right */
.googlechart_table_right #googlechart_filters {
    float: left;
}

.googlechart_table_right #googlechart_filters > div {
    min-width: 180px;
    max-width: 200px
    overflow: hidden;
    margin: 0 0px 15px;
}

.googlechart_table_right #googlechart_view {
    max-width: 800px;
    overflow: auto;
    float: left;
}

/* Left */
.googlechart_table_left #googlechart_filters {
    float: left;
}

.googlechart_table_left #googlechart_view {
    max-width: 800px;
    overflow: auto;
}

.googlechart_table_left #googlechart_filters > div {
    min-width: 180px;
    max-width: 200px;
    overflow: hidden;
    margin: 0 0px 15px 0;
}

/* Bottom */
.googlechart_table_bottom #googlechart_filters > div {
    float: left;
    max-width: 300px;
    min-width: 200px;
    overflow: hidden;
    margin-right: 0.5em;
}

/* Top */
.googlechart_table_top #googlechart_filters > div {
    float: left;
    max-width: 300px;
    min-width: 200px;
    overflow: hidden;
    margin-right: 0.5em;
}

.googlechart_table_top #googlechart_view {
    clear: left;
}

#googlechart_view > div {
    margin: 5px;
}

.googlechart_table_left #googlechart_view > div {
    margin: 0px;
}

.googlechart_table_right #googlechart_view > div {
    margin: 0px;
}

#googlechart_view > div > div,
#googlechart_view > div > div > div{
    overflow: hidden ! important;
}

.googlechart_dashboard_table #googlechart_filters {
    float: left;
}

.googlechart_dashboard_table #googlechart_view {
    clear: none;
    min-width: 0px;
    float: left;
}

.embedded-dashboard,
.embedded-filters {
    margin-top:0px !important;
}

.embedded-chart {
    min-width:0px !important;
}

.embedded-side-filters {
    max-width:200px !important;
}