/* View Google Charts
*/

.tab-charts span {
  background-image: url("../../++resource++eea.googlecharts.images/charts-icon.png");
  background-repeat: no-repeat;
  display: block;
  padding: 50px 5px 0;
}


.googlechart_class_Dashboard span {
    background: url("../../++resource++mini2.png") no-repeat scroll 0 0px transparent;
}

.googlechart_class_PieChart span {
    background: url("../../++resource++mini2.png") no-repeat scroll 0 -21px transparent;
}

.googlechart_class_LineChart span,
.googlechart_class_ImageChart span,
.googlechart_class_ComboChart span{
    background: url("../../++resource++mini2.png") no-repeat scroll 0 -84px transparent;
}

.googlechart_class_AreaChart span,
.googlechart_class_SteppedAreaChart span{
    background: url("../../++resource++mini2.png") no-repeat scroll 0 -105px transparent;
}

.googlechart_class_ColumnChart span,
.googlechart_class_Histogram span{
    background: url("../../++resource++mini2.png") no-repeat scroll 0 0px transparent;
}

.googlechart_class_BarChart span{
    background: url("../../++resource++mini2.png") no-repeat scroll 0 -42px transparent;
}

.googlechart_class_ScatterChart span,
.googlechart_class_BubbleChart span{
    background: url("../../++resource++mini2.png") no-repeat scroll 0 -168px transparent;
}

.googlechart_class_GeoChart span{
    background: url("../../++resource++mini2.png") no-repeat scroll 0 -63px transparent;
}

.googlechart_class_ImageSparkLine span,
.googlechart_class_AnnotatedTimeLine span,
.googlechart_class_MotionChart span,
.googlechart_class_CandlestickChart span{
    background: url("../../++resource++mini2.png") no-repeat scroll 0 -147px transparent;

}

.googlechart_class_Gauge span,
.googlechart_class_OrgChart span,
.googlechart_class_TreeMap span,
.googlechart_class_Table span{
    background: url("../../++resource++mini2.png") no-repeat scroll 0 -126px transparent;
}

#tab-charts {
    background: #F3F3F3;
    padding-bottom: 2em;
    border-radius: 8px 0;
}

#content ul.googlechart_tabs,
ul.googlechart_tabs {
    background: #069;
    border-radius: 10px 10px 0px 0px;
    border: none;
    height: 37px;
    list-style: none;
    list-style-image: none !important;
    margin: 0 !important;
    padding: 0;
}

ul.googlechart_tabs li {
    float: left;
    list-style-image: none !important;
    margin: 0 !important;
    text-indent: 0;
}

ul.googlechart_tabs span {
  height: 21px;
  padding-left: 30px;
}

ul.googlechart_tabs li a {
    color: #FFF;
    border: 0px;
    height: 17px;
    font-size: 125%;
    text-decoration: none;
    text-shadow: 1px 1px 1px #000000;
    display: inline-block;
    padding:10px;
}

ul.googlechart_tabs li a.current, ul.googlechart_tabs li a:hover {
    color: #2D8EA3;
    text-shadow: 1px 1px 1px #FFFFFF;
    background-color: #F3F3F3;
}

ul.googlechart_tabs li:first-of-type a.current,
ul.googlechart_tabs li:first-of-type a:hover {
  border-radius: 8px 0 0 0;
}

/* Google Charts view */
#googlechart_dashboard,
.googlechart_dashboard {
    box-shadow: 0px 2px 2px #ccc;
    background: #FFFFFF;
    border-top: 1px solid #eee;
}

#googlechart_dashboard .google-visualization-controls-slider-horizontal,
.googlechart_dashboard .google-visualization-controls-slider-horizontal {
    width: 130px;
}

#googlechart_dashboard .google-visualization-controls-slider-handle,
.googlechart_dashboard .google-visualization-controls-slider-handle {
    width: 130px;
}

.charts-inline-block input {
    width: 90%;
}

.google_buttons_bar {
    text-align: right;
    margin-top:1em;
}

.google_buttons_bar .googlechart_button {
    float:right;
    text-align:center;
}

.google_buttons_bar .googlechart_button .export-action-title {
    display: block;
}

.google_buttons_bar .btn {
    border-radius:0;
}

#googlechart_dashboard,
.googlechart_dashboard {
    margin-top: 1em;
}

#googlechart_export_button {
}

#googlechart_export_svg_button {
}

#googlechart_filters,
.googlechart_filters {
    white-space:nowrap;
}

#googlechart_filters > div,
.googlechart_filters > div {
    background: #f3f3f3;
    margin-bottom:1em;
    padding-bottom: 1em;
    min-height: 80px;
    text-align: center;
}

#googlechart_filters label,
.googlechart_filters label {
    display: block;
    font-weight: normal;
    color: black;
    padding: 5px 10px;
    font-size: 14px;
    background-color: #069;
    color:#fff;
    max-height: 25px;
    overflow: hidden;
    margin-bottom: 1em;
    text-align: left;
}

#googlechart_view,
.googlechart_view {
    background: #FFFFFF;
}

#googlechart_view:after,
.googlechart_view:after{
    content: '.';
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
    overflow:hidden;
}

/* Table
*/

/* Right */
.googlechart_table_right #googlechart_filters,
.googlechart_table_right .googlechart_filters {
    float: left;
}

.googlechart_table_right #googlechart_filters > div,
.googlechart_table_right .googlechart_filters > div {
    min-width: 180px;
    max-width: 200px;
    overflow: hidden;
    margin: 0 0px 15px;
}

.figure-chart-live .googlechart_table_right #googlechart_filters > div,
.figure-chart-live .googlechart_table_right .googlechart_filters > div {
    min-width: 150px;
    max-width: 170px;
}

.googlechart_table_right #googlechart_view,
.googlechart_table_right .googlechart_view {
    max-width: 800px;
    float: left;
}

/* Left */
.googlechart_table_left #googlechart_filters,
.googlechart_table_left .googlechart_filters {
    float: left;
}

.googlechart_table_left #googlechart_view,
.googlechart_table_left .googlechart_view {
    max-width: 800px;
    float: left;
}

.googlechart_table_left #googlechart_filters > div,
.googlechart_table_left .googlechart_filters > div {
    min-width: 180px;
    max-width: 200px;
    overflow: hidden;
    margin: 0 0px 15px 0;
}

.figure-chart-live .googlechart_table_left #googlechart_filters > div,
.figure-chart-live .googlechart_table_left .googlechart_filters > div {
    min-width: 150px;
    max-width: 170px;
}

.googlechart_table_left #googlechart_filters .google-visualization-controls-slider-horizontal,
.googlechart_table_left .googlechart_filters .google-visualization-controls-slider-horizontal,
.googlechart_table_right #googlechart_filters .google-visualization-controls-slider-horizontal,
.googlechart_table_right .googlechart_filters .google-visualization-controls-slider-horizontal {
    width:198px !important;
}

.figure-chart-live .googlechart_table_left #googlechart_filters .google-visualization-controls-slider-horizontal,
.figure-chart-live .googlechart_table_left .googlechart_filters .google-visualization-controls-slider-horizontal,
.figure-chart-live .googlechart_table_right #googlechart_filters .google-visualization-controls-slider-horizontal,
.figure-chart-live .googlechart_table_right .googlechart_filters .google-visualization-controls-slider-horizontal {
    width:168px !important;
}

/* Bottom */
.googlechart_table_bottom #googlechart_filters > div,
.googlechart_table_bottom .googlechart_filters > div {
    float: left;
    min-width: 200px;
    overflow: hidden;
    margin-right: 0.5em;
}

/* Top */
.googlechart_table_top #googlechart_filters > div,
.googlechart_table_top .googlechart_filters > div {
    float: left;
    min-width: 200px;
    overflow: hidden;
    margin-right: 0.5em;
}

.googlechart_table_top #googlechart_view,
.googlechart_table_top .googlechart_view {
    clear: left;
}

/* 28278; removed margin from all charts since
commit from fa1ddfa0 was meant to be enabled on dashboard-charts
and not all charts */
.dashboard-chart {
    margin: 5px 0;
}

.googlechart_table_left #googlechart_view > div,
.googlechart_table_left .googlechart_view > div {
    margin: 0px;
}

.googlechart_table_right #googlechart_view > div,
.googlechart_table_right .googlechart_view > div {
    margin: 0px;
}

#googlechart_view > div > div,
#googlechart_view > div > div > div,
.googlechart_view > div > div,
.googlechart_view > div > div > div{
    overflow: hidden ! important;
}

.googlechart_dashboard_table #googlechart_filters,
.googlechart_dashboard_table .googlechart_filters {
    float: left;
    width: 100%;
    height: auto;
}

.googlechart_dashboard_table #googlechart_view,
.googlechart_dashboard_table .googlechart_view {
    clear: none;
    min-width: 0px;
    float: left;
    width: 100%;
    height: auto;
}

.embedded-dashboard,
.embedded-filters {
    margin-top:0px !important;
}

.embedded-side-filters {
    max-width:200px !important;
}

.eea-googlechart-hidden-image {
    display: none;
}

.googlechart_left_image {
    float: left;
    padding-left: 0.5em;
}

.googlechart_right_image {
    float: right;
    padding-right: 0.5em;
}

#googlechart_qr.googlechart_left_image {
    padding: 0;
}

.googledashboard-widget {
    overflow: hidden;
}

.googlechart_dashboard_filters_helper {
    display: none;
}

.googledashboard-hidden-helper-filters {
    display: none;
}

#daviz-view ul.google-visualization-controls-categoryfilter-selected,
.googlechart_dashboard ul.google-visualization-controls-categoryfilter-selected {
    list-style-type: none !important;
    margin: 10px auto!important;
    max-width: 90% ! important;
    display:block!important;
}

li.eea-moved-in-container{
    list-style: none !important;
}

#daviz-view ul.google-visualization-controls-categoryfilter-selected li,
.googlechart_dashboard ul.google-visualization-controls-categoryfilter-selected li {
    display: block;
    white-space: normal;
    border:1px solid #e2e2e2 !important;
    background-color: white !important;
    padding-left: 7px !important;
}

#daviz-view ul.google-visualization-controls-categoryfilter-selected li div
.googlechart_dashboard ul.google-visualization-controls-categoryfilter-selected li div {

    display: inline;
}

#daviz-view ul.google-visualization-controls-categoryfilter-selected li div.charts-link-button-disabled
.googlechart_dashboard ul.google-visualization-controls-categoryfilter-selected li div.charts-link-button-disabled {
    display: none;
}

#daviz-view ul.google-visualization-controls-categoryfilter-selected li div.charts-control,
.googlechart_dashboard ul.google-visualization-controls-categoryfilter-selected li div.charts-control {
    padding: 0.3em !important;
}

.googlechart_dashboard{
    font:80% Arial, FreeSans, sans-serif;
}
.googlechart_loading_img {
    width:100px;
    height:100px;
    background-image: url(../../++resource++eea.jquery.images/ajax-loader.gif);
    display:block !important;
}

.charts-menu-vertical {
    max-height: 80% !important;
    overflow: auto !important;
}

.googlechart_hide_filters table,
.googlechart_ignore_filters input{
    float:right;
    margin-right: 15px;
}

@media screen and (max-width: 479px) {
    #googlechart_dashboard .googlechart_table_top .googlechart_filter,
    .googlechart_dashboard .googlechart_table_top .googlechart_filter,
    #googlechart_dashboard .googlechart_table_bottom .googlechart_filter,
    .googlechart_dashboard .googlechart_table_bottom .googlechart_filter {
        width: 100%;
        float: none;
    }
}

@media screen and (min-width: 480px) and (max-width: 627px) {
    #googlechart_dashboard .googlechart_table_top .googlechart_filter,
    .googlechart_dashboard .googlechart_table_top .googlechart_filter,
    #googlechart_dashboard .googlechart_table_bottom .googlechart_filter,
    .googlechart_dashboard .googlechart_table_bottom .googlechart_filter {
        min-width: 48%;
    }
}

@media screen and (min-width: 628px) and (max-width: 767px) {
    #googlechart_dashboard .googlechart_table_top .googlechart_filter,
    .googlechart_dashboard .googlechart_table_top .googlechart_filter,
    #googlechart_dashboard .googlechart_table_bottom .googlechart_filter,
    .googlechart_dashboard .googlechart_table_bottom .googlechart_filter {
        min-width: 32%;
    }
}

@media screen and (min-width: 768px) {
    #googlechart_dashboard .googlechart_table_top .googlechart_filter,
    .googlechart_dashboard .googlechart_table_top .googlechart_filter,
    #googlechart_dashboard .googlechart_table_bottom .googlechart_filter,
    .googlechart_dashboard .googlechart_table_bottom .googlechart_filter {
        min-width: 24%;
    }
}

#googlechart_dashboard .googlechart_table_top .googlechart_filter ul,
.googlechart_dashboard .googlechart_table_top .googlechart_filter ul,
#googlechart_dashboard .googlechart_table_bottom .googlechart_filter ul,
.googlechart_dashboard .googlechart_table_bottom .googlechart_filter ul {
    height: 100px;
    overflow: auto;
}

#googlechart_dashboard div.googlechart_filter li,
.googlechart_dashboard div.googlechart_filter li{
    display: inline;
    margin:0 5px 2px 0;
    padding:0px;
    float: left;
}

#googlechart_dashboard .googlechart_filters_side .googlechart_filter li,
.googlechart_dashboard .googlechart_filters_side .googlechart_filter li{
    display:block;
    float: none;
}

#googlechart_dashboard .googlechart_filter .charts-menu-button,
.googlechart_dashboard .googlechart_filter .charts-menu-button{
    vertical-align:top;
    margin-right:5px;
}

#googlechart_dashboard .google-visualization-controls-categoryfilter>.charts-inline-block>.charts-menu-button,
.googlechart_dashboard .google-visualization-controls-categoryfilter>.charts-inline-block>.charts-menu-button {
    margin-top:0px;
}

.eea-filter-value-container {
    float:left;
}

#googlechart_dashboard div.googlechart_filter li div.charts-inline-block,
.googlechart_dashboard div.googlechart_filter li div.charts-inline-block{
    background-color: transparent !important;
}

.google-visualization-controls-rangefilter-thumblabel {
    color: black !important;
    font-weight: normal !important;
}

.google-visualization-controls-slider-thumb {
    border: 1px solid gray !important;
    background-color: #e2e2e2 !important;
}

.google-visualization-controls-slider-horizontal {
    border: 1px solid gray !important;
}

.google-visualization-controls-slider-handle {
    background-color: gray !important;
}

a.googlechart-inline-resize {
    border-bottom: 0;
    float: right;
}

.custom-overlay-mask {
    position: absolute;
    background-color: rgba(0,0,0,0.5);
    z-index: 9999;
}

.googlechart-fullchart-resizable {
    border: 2px solid green;
    position:absolute !important;
    z-index: 10000;
}

.googlechart-fullchart-header {
    width: 100%;
    background-color: #e2e2e2;
    opacity: 0;
    -webkit-transition: opacity .5s;
    -moz-transition: opacity .5s;
    -o-transition: opacity .5s;
    transition: opacity .5s;
    text-align: center;
    z-index: 10002;
    position: relative;
}

input.googlechart-chart-size {
    width: 50px;
    line-height: 1.2;
    padding: 0;
    height: 17px;
    margin-top: 5px;
}

.googlechart-fullchart-resizable:hover .googlechart-fullchart-header{
    opacity: 1;
}

.googlechart-inline-cancel,
.googlechart-inline-apply {
    float: right;
    margin-left: 3px;
}

.googlechart-chartarea-resizable {
    border: 2px dotted green;
    z-index: 10001;
}

.googlechart-fullchart-header-hidden{
    opacity: 0 !important;
}

.googlechart-chartarea-input {
    background-color: #e2e2e2;
    display:inline-block;
    padding: 0 5px 5px 5px;
    opacity: 0;
    -webkit-transition: opacity .5s;
    -moz-transition: opacity .5s;
    -o-transition: opacity .5s;
    transition: opacity .5s;
}

.googlechart-chartarea-size-input{
    padding-top: 5px;
    text-align:center;
    position:absolute;
    overflow:auto;
    margin:auto;
    height:40px;
    width:250px;
    top:0;
    left:0;
    right:0;
    bottom:0;
}

.googlechart-chartarea-resizable:hover .googlechart-chartarea-input{
    opacity: 1;
}

.charts-inline-block {
    font-size: 12px;
}

.googlechart-notes {
    clear:both;
}

/* #18491 embeded charts notes should have the same font size as original charts */
.googlechart_dashboard .googlechart-notes {
    font: 12px Verdana, Arial, Helvetica, sans-serif;
    line-height: 1.5em;
    width: 100% !important; /* notes shouldn't span beyond chart border */
}

/* #18491 normalize font size of googlechart-notes when it contains a paragraph */
#content .googlechart-notes p {
    font-size: 100%;
}

.manual-chart-settings, .manual-padding-settings {
    width: 25px;
    margin-right: 3px;
}

.embed-settings #embed-padding-settings {
    margin: 5px;
}

.embed-settings label {
    width: 125px;
    float: left;
    padding: 3px;
}

.embed-settings .radio-embed {
    margin: 5px;
    font-weight: normal;
}

.embed-settings #manual-paddings {
    margin: 10px 0 10px 5px;
}

.embed-settings .manual-settings-error {
    color: red;
}

.embed-settings h4 {
    border-bottom: 1px solid #ececec;
}

#chart-size-slider {
    margin: 0 0 10px 0;
}

.embed-settings .chart-size {
    width: 150px;
    float: left;
}

.embed-settings .chart-size label {
    width: 90px;
}

.embed-settings .embed-misc-settings {
    float: left;
    line-height: 50px;
    margin: 5px 0 0 10px;
}

#manual-chart-size {
    margin: 10px 0 0 0;
}

.embed-settings .embed-controls {
    float: right;
}

.embed-settings .chart-size-settings {
    margin: 10px 0 5px 0;
}

.googlechart_top_images_noscript .left,
.googlechart_bottom_images_noscript .left{
    float:left;
}
.googlechart_top_images_noscript img{
    padding:0;
}

.googlechart_top_images_noscript .right,
.googlechart_bottom_images_noscript .right{
    float:right;
}

.embedded-dashboard.not_visible {
    width:100%;
    height:100px;
    background: url(../../++resource++eea.jquery.images/ajax-loader.gif) center center no-repeat;
    display:block !important;
}

.smc-widget {
    position: relative;
}

.smc-widget:hover {
    /*border: 1px solid #ccc;*/
}

.smc-widget .smc-control {
    display:none;
    border:1px solid #eee;
}

.smc-widget:hover .smc-control {
    display:block;
    color: #bbb;
}

.smc-widget .smc-control:hover {
    cursor: pointer;
    color: black;
}

.smc-widget .smc-controls {
    position: absolute;
    width: 100%;
}

.smc-widget .smc-controls-top {
    top: 0;
}

.smc-widget .smc-controls-bottom {
    bottom: 0;
}

.smc-controls .left {
    float: left;
}

.smc-controls .right {
    float: right;
}

.multiples-sm-area {
    float:left;
}

.multiples-sm-area .smc-widget{
    margin:2px;
}
.multiples-sm-header-item{
    float:left;
    position:relative;
    margin:2px;
}

.btn-multiples-sm-enlarge:hover .smc-control{
    color: black !important;
    background-color: #ccc;
    font-size:20px;
    width:30px;
    height:20px;
    padding:5px;
}

.btn-multiples-sm-enlarge:hover{
    cursor: pointer;
}

