/* Thumbnail
*/

.googlechart-views {
  float: left;
  width: 80%;
  overflow: auto;
}

.googlechart-thumbnail-lens {
  text-align: center;
  padding: 1em ! important;
  margin: 1em ! important;
}

.googlechart-tabular-details {
  display: block;
  text-align: center;
}

div div.googlechart-facet-body {
  overflow-x: hidden;
  overflow-y: auto;
}

div div.googlechart-facet-header-filterControl {
  width: 4em;
  text-align: right;
}
