ul.chart-tabs{
    list-style:none!important ;
}

ul.chart-tabs li{
    float:left;
    text-transform:uppercase;
    padding:5px;
    font-weight:normal;

}
ul.chart-tabs li a,
ul.chart-tabs li a:link,
ul.chart-tabs li a:hover,
ul.chart-tabs li a:active,
ul.chart-tabs li a:visited{
    text-decoration:none !important;
    color:#000000 !important;
}
ul.chart-tabs li a.current{
    font-weight:bold;
}

