#googlecharts_config #googlecharts_actionsView{
    margin-top:1em;
}

#googlecharts_submit{
    color:#fff !important;
    background:#346F83;
    background-image: -webkit-gradient(linear,0% 40%,0% 70%,from(#478EA5),to(#346F83));
    background: -webkit-linear-gradient(#478EA5, #346F83); /* Safari 5.1+, Chrome 10+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#478EA5', endColorstr='#346F83'); /* IE6 & IE7 */
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#478EA5', endColorstr='#346F83')"; /* IE8+ */
    background-image: -moz-linear-gradient(270deg, #478EA5, #346F83);
    background-image: -ms-linear-gradient(top,#478EA5,#346F83);
    background-image: -o-linear-gradient(top,#478EA5,#346F83);
    background-image: linear-gradient(top,#478EA5,#346F83);
    font: bold 12px Verdana, Arial, sans-serif;
    padding: 7px 12px;
    position: relative;
    display: inline-block;
    text-shadow: 0 1px 1px #000;
    -webkit-transition: border-color .218s;
       -moz-transition: border .218s;
       -ms-transition: border-color .218s;
         -o-transition: border-color .218s;
            transition: border-color .218s;
    -webkit-transition: box-shadow .218s;
       -moz-transition: box-shadow .218s;
       -ms-transition: box-shadow .218s;
         -o-transition: box-shadow .218s;
            transition: box-shadow .218s;
    border: 1px solid #346F83;
    -webkit-border-radius: 2px;
       -moz-border-radius: 2px;
            border-radius: 2px;
}

#googlecharts_config .ui-icon-plus{
    float-left;
    border: 2px solid #CCCCCC;
}

.googlechart_handle{
    cursor:move;
}

#googlecharts_list,
.googlechart_filters_list{
    list-style-type:none !important;
    list-style-image:none !important;
    margin:0 !important;
}

.googlechart{
    background-color:#FFFFFF;
}

.googlechart_modified{
    background-color:#FFFFBB;
}

.googlechart fieldset {
    padding: 0.5em 1em;
}

.googlechart table {
    width: 100%;
}

.googlechart .filters_position {
    text-align: right;
}

#googlecharts\.columns\.toDataContainer{
    display:none;
}

.googlechart-dialog .ui-dialog-titlebar {
    color:black;
    font-size:1.2em;
    margin:0 2px;
    padding:0.2em 0.5em;
    background-color:#CDE2A7;
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FFFFFF), to(#CDE2A7));
    background-image: -webkit-linear-gradient(center top , #FFFFFF, #CDE2A7);
    background-image: -moz-linear-gradient(center top , #FFFFFF, #CDE2A7);
    background-image: -ms-linear-gradient(center top , #FFFFFF, #CDE2A7);
    background-image: -o-linear-gradient(center top , #FFFFFF, #CDE2A7);

}

.googlechart-dialog {
  border-radius: 10px;
  box-shadow: 0px 5px 5px #ccc;
  border: 1px solid #3A5774;
}

.googlechartTable {
    color:black;
    font-size:0.8em !important;
    border:1px solid #DDDDDD;
}
.googlechartTable th{
    padding:2px;
    border:1px solid #EEEEEE;
    background-color:#CDE2A7;
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FFFFFF), to(#CDE2A7));
    background-image: -webkit-linear-gradient(center top , #FFFFFF, #CDE2A7);
    background-image: -moz-linear-gradient(center top , #FFFFFF, #CDE2A7);
    background-image: -ms-linear-gradient(center top , #FFFFFF, #CDE2A7);
    background-image: -o-linear-gradient(center top , #FFFFFF, #CDE2A7);

}
.googlechartTable td{
    padding:2px;
    border:1px solid #EEEEEE;
}

.googlechartTable select {
    margin-left:3px;
    padding:0px !important;
    font-size:1.2em;
    vertical-align:none;
}

.googlechartTable .ui-icon-show {
  background-image: url(../../++resource++eea.daviz.images/show.png);
}

.googlechartTable .ui-icon-hide {
  background-image: url(../../++resource++eea.daviz.images/hide.png);
}

#newColumns th{
    cursor:move;
}

.googlechartTable .ui-icon {
    cursor:pointer;
}
