ul.googlechart_tabs{
    list-style: none outside none !important;
    margin-bottom: 5px;
}

ul.googlechart_tabs li{
    float:left;
    padding:0px 10px 4px 21px;
    cursor:pointer;
}

ul.googlechart_tabs li a{
    color:#000000 !important;
}

ul.googlechart_tabs li.current{
    font-weight:bold;
}


.googlechart_class_PieChart{
    background: url("++resource++mini2.png") no-repeat scroll 0 -21px transparent;
}

.googlechart_class_LineChart{
    background: url("++resource++mini2.png") no-repeat scroll 0 -84px transparent;
}

.googlechart_class_AreaChart{
    background: url("++resource++mini2.png") no-repeat scroll 0 -105px transparent;
}

.googlechart_class_ColumnChart{
    background: url("++resource++mini2.png") no-repeat scroll 0 0px transparent;
}

.googlechart_class_BarChart{
    background: url("++resource++mini2.png") no-repeat scroll 0 -42px transparent;
}

.googlechart_class_ScatterChart{
    background: url("++resource++mini2.png") no-repeat scroll 0 -168px transparent;
}

.googlechart_class_GeoChart{
    background: url("++resource++mini2.png") no-repeat scroll 0 -63px transparent;
}

.googlechart_class_ImageSparkLine,
.googlechart_class_AnnotatedTimeLine,
.googlechart_class_MotionChart,
.googlechart_class_CandlestickChart{
    background: url("++resource++mini2.png") no-repeat scroll 0 -147px transparent;

}

.googlechart_class_Gauge,
.googlechart_class_OrgChart,
.googlechart_class_TreeMap,
.googlechart_class_Table{
    background: url("++resource++mini2.png") no-repeat scroll 0 -126px transparent;
}

/* Google Charts view */
.google-visualization-controls-slider-horizontal {
    width: 130px ! important;
}

.google-visualization-controls-slider-handle {
    width: 130px ! important;
}

.goog-inline-block input {
    width: 90%;
}

.google_buttons_bar {
    text-align: right;
}

#googlechart_dashboard {
    margin-top: 1em;
}

#googlechart_export_button {
}


#googlechart_filters {
    white-space:nowrap;
    margin-top: 3em;
}

#googlechart_filters > div {
    background: #F3F3F3;
    margin-bottom:1em;
    border-radius: 5px
    padding-bottom: 1em;
    min-height: 80px;
    text-align: center;
}

#googlechart_filters label {
    display: block;
    font-weight: normal;
    color: white;
    padding: 5px 10px;
    font-size: 14px;
    line-height: 1.6;
    text-shadow: 1px 1px 1px #555;
    background-color: #777C1F;
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#b1c748), to(#777c1f));
    background-image: -webkit-linear-gradient(center top , #b1c748, #777c1f);
    background-image: -moz-linear-gradient(center top , #b1c748, #777c1f);
    background-image: -ms-linear-gradient(center top , #b1c748, #777c1f);
    background-image: -o-linear-gradient(center top , #b1c748, #777c1f);
    box-shadow: 0px 2px 2px #888;
    max-width: 70%;
    max-height: 25px;
    overflow: hidden;
    margin-bottom: 1em;
    text-align: left;
}

#googlechart_view {
    box-shadow: 0px 5px 5px #ccc;
    border: 1px solid #ccc;
    text-align: center;
    min-width: 800px;
}

/* Table
*/

/* Right */
.googlechart_table_right #googlechart_filters {
    float: right;
}

.googlechart_table_right #googlechart_filters > div {
    max-width: 250px;
    overflow: hidden;
}

.googlechart_table_right #googlechart_view {
    max-width: 800px;
    overflow: auto;
}

/* Left */
.googlechart_table_left #googlechart_filters {
    float: left;
}

.googlechart_table_left #googlechart_view {
    max-width: 800px;
    overflow: auto;
}

.googlechart_table_left #googlechart_filters > div {
    max-width: 200px;
    overflow: hidden;
}

/* Bottom */
.googlechart_table_bottom #googlechart_filters > div {
    float: left;
    max-width: 300px;
    min-width: 200px;
    overflow: hidden;
    margin-right: 0.5em;
}

/* Top */
.googlechart_table_top #googlechart_filters > div {
    float: left;
    max-width: 300px;
    min-width: 200px;
    overflow: hidden;
    margin-right: 0.5em;
}

.googlechart_table_top #googlechart_view {
    clear: left;
}
