ul.googlechart_tabs{
    list-style: none outside none !important;
}

ul.googlechart_tabs li{
    float:left;
    padding:5px;
    cursor:pointer;
}

ul.googlechart_tabs li a{
    color:#000000 !important;
}

ul.googlechart_tabs li.current{
    font-weight:bold;
}